[2019-11-29 11:31] chenxyzl opened #1 "Is there a tutorial on how to use it"
I want to trying，but no tutorials found in readme。
thanks

[2019-11-29 11:35] thesayyn commented on #1
I haven't published the package yet. This weekend I will push some fixes and publish a npm package.
For now, you can clone the project and run `yarn examples` command to generate your proto files.

[2019-11-29 11:40] chenxyzl commented on #1
Looking forward to your release，thank

[2019-11-29 11:40] #1 closed

[2019-11-29 12:13] chenxyzl opened #2 "[jstype = JS_STRING] type Compile error"
`int64 result_per_page = 3 [jstype = JS_STRING];`

Still compiled to number

`      get result_per_page(): number | undefined {
            return pb_1.Message.getFieldWithDefault(this, 3, undefined) as number | undefined;
        }
`
`
        set result_per_page(value: number) {
            pb_1.Message.setField(this, 3, value);
        }
`

[2019-12-02 16:13] GeTOUO opened #3 "哥们额，多来点文档"
详细介绍一下生成的范围和目前使用有没有什么问题呢？最好带一点骚气的示例。
支持类似于这样的操作吗？
[code]

[2019-12-03 14:17] thesayyn commented on #2
Thank you for the issue and that is something we should be able to do since Javascript does not support 64-bit integers. I will add this to the roadmap. Also, PR is appreciated if you can send one :)

[2019-12-03 21:29] thesayyn commented on #3
I couldn't understand the question but from what you wrote I think you want to be able to create proto messages through an helper function. But this plugin does not generate any generic helper function to create proto messages. Instead, it generates a method in every single proto  message. The method called as deserialize (similar to decode) and you can pass your unit8array to deserialize method i

[2019-12-04 02:56] chenxyzl commented on #2
I'm going to do it at this weekend。

[2019-12-06 09:52] chenxyzl commented on #2
“[jstype = JS_STRING]” support already added；
But I don't know how to test on the new version；

[2019-12-06 09:57] chenxyzl commented on #3
let a = new SearchRequest();
    a.result_per_page = "1111111"
    // a.page_number = 1111111
    console.log(a);
    let b = SearchRequest.deserializeBinary(a.serializeBinary());
    console.log(b);

[2019-12-11 20:09] thesayyn commented on #2
Hey @chenxyzl just send a PR. I will assist you in testing.

[2019-12-12 06:17] chenxyzl commented on #2
OK, PR submitted

[2020-01-18 15:25] thesayyn commented on #3
@GeTOUO Do you still have any questions in your mind?

[2020-01-22 18:07] thesayyn commented on #3
I'm going to close this issue as resolved. Please feel free to reopen.

[2020-01-22 18:07] #3 closed

[2020-01-22 20:27] alexeagle opened #5 "Help users understand tradeoffs with alternatives"
It would be nice if the readme helped me understand whether to use this package or the alternative
https://github.com/improbable-eng/ts-protoc-gen
with its Bazel rules
https://github.com/Dig-Doug/rules_typescript_proto

Do you already know what tradeoffs make this package better or that one for some use cases?

[2020-01-23 19:43] thesayyn commented on #5
My inital intention was to make a protoc plugin that generates appropriate protocolbuffers classes which can be bundled with rollup. So when i had used other packages, I saw that they were missing something always.

I have made some changes in the readme that explains these missing features;
https://github.com/thesayyn/protoc-gen-ts/commit/690f26e16cea9457aafbbb3d35e9aaa30550d648

[2020-02-09 21:11] perezd opened #6 "Consider aligning API w/ Bazel proto idioms"
Hey there, I was reviewing [this example](https://github.com/thesayyn/protoc-gen-ts/blob/master/examples/bazel/src/BUILD.bazel#L22) and I notice your example could be more idiomatic with existing Bazel proto rules.

1) `<lang>_proto_library` should prefer to use `deps`on a `proto_library` vs referring to it as a `src`. Example can be found here: https://docs.bazel.build/versions/master/be/java.htm

[2020-02-13 07:51] thesayyn commented on #6
Hey, I agree with the first one that says <lang>_proto_library should definitely pick up the descriptors from "deps" attribute instead of "srcs".

Since <lang>_proto_library  is a source generating target, we should not think it as a JS-producing target and also I'm not sure if ts_library picks up source files from the "deps" attribute. (I guess I'm gonna see if it works that way.)

[2020-02-13 07:52] thesayyn commented on #1
@chenxyzl I have provided an example.

[2020-02-26 19:38] zeidoo opened #7 "Repeated fields are not implementing toObject()"
Hi,

I've been trying to use this with repeated fields,
[code]

The generated code fails to compile:
[code]

The error when compiling is: Property 'toObject' does not exist on type 'Field[]'.

[2020-02-27 06:17] thesayyn commented on #7
I can confirm the issue. As far as I understand it should generate this `field.map(m => m.toObject())` instead of `field.toObject()`.

 I would accept a PR with appropriate tests if you are willing to help. 😊

[2020-02-27 06:19] #5 closed

[2020-02-27 07:36] zeidoo commented on #7
Yup, I'll PR it sometime in the coming week.

[2020-03-03 12:05] ivan-shaban opened #8 "Cannot compile."
Hello, i'm trying to use you library and it fails at start, probably i miss something in configuration, can you give me advice?
[code]
Protoc version:
[code]

[2020-03-03 15:38] thesayyn commented on #8
Hey @ivan-shaban.

I guess your problem is related to a missing peer dependency.

Could you please also send here your package.json file?

[2020-03-04 09:24] ivan-shaban commented on #8
[code]
Also I cannot manually install bazel library which defined as you peer dependency

[2020-03-04 19:27] thesayyn commented on #8
I'm glad that you solved the problem.
 I'm going to close this issue but I will add this as a warning into the documentation.
Feel free to reopen the issue if you have further questions.

[2020-03-04 19:27] #8 closed

[2020-03-04 19:28] thesayyn commented on #7
Hey @zeidoo. Have you got any free time to work on this?

[2020-03-08 10:42] #7 closed

[2020-03-12 17:20] seishun opened #10 "Add license information"
There should be a LICENSE file in the project with license information so people know if they can use it in their own projects.

[2020-03-12 19:53] thesayyn commented on #10
Yes we should add an license file however if if take look at published packages on npm, you'll see that it is published under MIT license.

[2020-03-12 20:12] seishun commented on #10
The MIT license has the following line:

I can't meet this condition without a license file.

[2020-03-13 21:06] thesayyn commented on #10
Closed in 0.0.6 release. Thank you for the report.

[2020-03-13 21:06] #10 closed

[2020-03-13 21:07] thesayyn commented on #7
Released in 0.0.6. @zeidoo FYI

[2020-03-19 18:59] thesayyn commented on #6
Fixed in 0.0.7

[2020-03-19 18:59] #6 closed

[2020-04-05 02:52] cecilulysess opened #11 "Generated code for nested enum failed"
Proto:

[code]

Generated:

[code]

Error:
[code]

Essentially, the enum is not generated at all. Causing this error. One suggestion is generate the enum as <CLASS_NAME>_<ENUM_NAME> to avoid colliding.

[2020-04-05 13:18] thesayyn commented on #11
Thank you for the feedback.

I was able to reproduce the issue. Turns out that the enums within messages weren't generated at all.
I'm working on a fix. Probably l will have it published by the end of the day.

[2020-04-05 14:25] #11 closed

[2020-04-05 14:26] thesayyn commented on #11
@cecilulysess I have made some changes that fix this problem.

Can you check download version 0.1.0 from npm give it a try again?

[2020-05-17 19:05] marcushultman opened #13 "reimplement serialize as serializeBinary & serializeBinaryToWriter"
- `serialize` does not exist on `Message` but is implemented similarly to how the static `serializeBinaryToWriter` should be implemented. Removing is a breaking change.
- `serializeBinary` is not implemented/generated but a proper `abstract` method on `Message` (adding throwing stub in https://github.com/thesayyn/protoc-gen-ts/pull/12)

[2020-05-17 20:16] thesayyn commented on #13
I'm kind of a freak who would like to tidy up things so that why I have done something like this. Probably you understand it already but let me clarify what I have with those methods.
I have managed to put all serializing and deserializing stuff into those two methods.
I had done this because having four methods doing the different part of the serializing and deserializing work seemed kinda confus

[2020-05-17 20:18] thesayyn commented on #13
Also, these changes have some interopability issues with @types/google-protobuf. When I realized this it was too late cause I was almost done writing the plugin.
May be we can send a PR to make those methods optional?

[2020-08-27 09:56] Monahawk opened #14 "Maps support"
Hi,

atm, I have an issue with working with map types in the typescript generated messages.

In my Proto files, I use map<key, value> type.

In the .AsObject also it appears as Array<[key, value]>. And in the main jspb.Message type, there is only a getter and a clear method for it.

Any way to work around it?

[2020-08-27 10:53] thesayyn commented on #14
Hi @Monahawk.

Currently, maps are not supported since it requires significant work to do implement. That said, `map<type, type>` is in fact serialized/deserialized as an array in protocol buffer format which means `maps` are 'arrays' in protocol buffers wire format.
Hence, they appear as arrays if you are compiling the protos via this plugin because the plugin does not perform any operation on th

[2020-09-01 04:18] NfNitLoop opened #15 ".proto3 input -> .ts3 output"
This worked great out of the box! So much nicer than protoc's commonjs output! ❤️

I ran into one odd roadbump -- it kept generating a `.ts3` file, which Snowpack didn't know to interpret as TypeScript. I finally figured out it's because I'd named my file `something.proto3` and that 3 was carried over.  I'm fine just renaming my input file to `.proto` for now to work around this.

[2020-09-01 05:49] NfNitLoop opened #16 "proto3 fields unnecessarily serialized"
I found that if I have a message like this:

[code]

And I do:
[code]

... then a string of length 0 gets serialized with the bytes instead of nothing, which I believe should be the expected output for proto3.

from: [proto3 docs](https://developers.google.com/protocol-buffers/docs/proto3)

I can work around this with this pattern for now:
[code]

But it would be nice to have that optimization bui

[2020-09-01 07:08] thesayyn commented on #15
I am glad that you have solved your problem with this plugin. I would appreciate a star though 😄

Also, that is a good catch and I think it is related to this line
https://github.com/thesayyn/protoc-gen-ts/blob/db9e02e6e2f56d2fa55d21f02b681ed93228ccbd/src/index.js#L1646

I'll fix it this weekend.

[2020-09-01 07:38] NfNitLoop commented on #15
Do you mean a GitHub star on the repo? I'd already done that. 😃 👍

[2020-09-01 07:45] thesayyn commented on #15
Thank you so much then 😊

[2020-09-01 07:56] thesayyn commented on #16
Probably, this is caused by https://github.com/thesayyn/protoc-gen-ts/commit/ad3a1df720ab2aac565cf4bd33ab9559d02274b3
and related to this
https://github.com/thesayyn/protoc-gen-ts/blob/db9e02e6e2f56d2fa55d21f02b681ed93228ccbd/src/index.js#L628

I'll also fix this in this weekend probably.👌

[2020-09-13 07:53] thesayyn commented on #15
@NfNitLoop Hello again. While I have been working on a fix, I have come to realize that protocol buffers do not support such an extension. At least this was the case for protocol buffers for bazel. Do you have any documentation that I can refer to?

[2020-09-13 08:06] thesayyn commented on #15
Nevertheless, I believe that this has been fixed by https://github.com/thesayyn/protoc-gen-ts/commit/d9bfad63d637a6b5990f2b33f9a620172ec0c646.

[2020-09-13 08:17] #15 closed

[2020-09-13 08:40] thesayyn commented on #16
Fixed by be82cffcabffa6dbfc6260213291932addff5de8.

[2020-09-13 08:44] thesayyn commented on #16
this has been fixed in release 0.3.0. let me know how it goes

[2020-09-13 08:44] #16 closed

[2020-09-13 15:51] NfNitLoop commented on #15
Thanks!

No, I don't have any official documentation. `protoc` seems happy to parse a file with a `.proto3` extension, though.  And I see [others] using similar filenames.

[others]: https://www.google.com/search?q=".proto3"

[2020-09-13 16:29] NfNitLoop commented on #16
It works! Thanks! 👍

[2020-09-13 16:37] thesayyn commented on #15
Oh I see. This should be fixed in 0.3.0.

[2020-09-15 17:56] flolu opened #17 "Dots in Filenames Cause Errors"
It seems as if dots in filenames cuase errors:

[code]

The second one throws:
[code]

### I've made a small repro here: https://github.com/flolu/protoc-gen-ts-filename-repro

[2020-09-15 18:32] flolu opened #18 "Request: Show How to Properly Do Client-Server Communication in Example"
with [grpc-node](https://github.com/grpc/grpc-node)

[2020-09-15 18:45] thesayyn commented on #18
We have a tiny not so understandable example in our tests https://github.com/thesayyn/protoc-gen-ts/blob/master/test/integration/rpcs.spec.ts right here. However, it would be good to have a working example in the examples folder.

Would you like to send a PR for it?

[2020-09-15 18:47] thesayyn commented on #17
Thank you for the reproduction. I'll take look into it probably this weekend.

[2020-09-15 18:48] flolu commented on #18
@thesayyn Awesome! I will make a PR if I get it working :)

[2020-09-16 06:57] flolu commented on #18
@thesayyn Before creating the PR I wanted to make it work myself. However, I encountered a few issues:

You can also follow along with [this repro](https://github.com/flolu/typescript-protobuf-bazel-rpc)

## 1. grpc binary doesn't load
For some reason I get this error _(running `yarn dev` in the repro)_
[code]
The [internet](https://stackoverflow.com/questions/49758008/nodejs-error-failed-to-load-

[2020-09-16 07:36] thesayyn commented on #18
You are right. I have also spent more than 2 weeks to get it working in typescript environment then i couldn't. therefore i have decided to make a plugin that generates the protobuf classes that works with typescript with minimum fuss.

That said, i think solving the problems with native packages is not trivial. I feel you. As far as i know grpc module is deprecated and does not receive any new fe

[2020-09-16 07:42] flolu commented on #18
@thesayyn Exactly, this is why I would love to use your plugin!

If grpc is deprecated anyhow, then it might be worth switching over to @grpc/grpc-js?

Yeah strict mode should be solvable.

Would love to do a 1:1, because I am somewhat stuck on it. When are you free? Over Discord?

[2020-09-16 07:51] thesayyn commented on #18
Today (Wed) at  4PM UTC? Would that work for you?

[2020-09-16 07:54] flolu commented on #18
@thesayyn Sounds good! My discord username is: `flolu#6889`

[2020-09-16 17:45] flolu opened #19 "Migrate away from grpc to @grpc/grpc-js"
_We have already talked about it. This just serves as a reminder._

The [grpc](https://www.npmjs.com/package/grpc) package is more or less deprecated. Thus we should migrate to using [@grpc/grpc-js](https://www.npmjs.com/package/@grpc/grpc-js) instead.

But it might not be enough to just interchange them. Since it seems as if there are small incompatibilities.

[2020-09-16 17:50] flolu opened #20 "Make generated Typescript outputs compatible with Typescript strict mode"
_We have already talked about it. This just serves as a reminder._

Currently settings `strict` to `true` will cause errors in the generated Typescript files.

Repro: https://github.com/flolu/typescript-protobuf-bazel-rpc/tree/284c73f0d5d3d9af825fee49fec6b4dc8241d31a

Just change the `tsconfig.json` like this

[code]

Then running `yarn start:server` will throw errors. It will work without errors

[2020-09-16 18:34] flolu commented on #18
I've created a pull request with an example implementation https://github.com/thesayyn/protoc-gen-ts/pull/21

[2020-09-16 18:34] #18 closed

[2020-09-19 10:26] #19 closed

[2020-09-19 10:28] thesayyn commented on #19
Releases in 0.3.1

[2020-09-19 10:30] flolu commented on #19
That was fast, thank you!

[2020-09-19 10:40] #17 closed

[2020-09-19 10:43] thesayyn commented on #17
Released in 0.3.2

[2020-09-20 11:57] flolu opened #22 "Experimental Promises Do Not Work (Cannot read property 'interceptors' of undefined)"
After enabling `experimental_features`, I get the following error:
[code]

You can try it yourself by cloning this commit:
https://github.com/flolu/typescript-protobuf-bazel-rpc/tree/8f1c47cb9944064384e9f87db2c30f0a98a2b6a2

1. Run `yarn install && yarn build`
2. Run `yarn start:server`
3. Run `yarn start:client` (error is in the client)

[2020-10-01 07:50] flolu opened #23 "Support for oneof Fields"
Support for handling `oneof` fields is a must-have.

I know that this is already a TODO in the code, but I just wanted to create a reminder.

[2020-10-01 08:00] thesayyn commented on #23
Yes. this one and map support is a must-have feature but unfortunately, I have not time to implement those features even though they are not that hard to implement. I would appreciate a PR for this if you have time to do so.

[2020-10-01 08:29] flolu opened #24 "Using Custom Types with Repeated Keyword Doesn't Work"
Building this proto file

[code]

throws
[code]
I've created a repro here: https://github.com/flolu/protoc-gen-ts-repeated-repro

Basically it seems as if custom Types (in this case `Car`) doesn't work with the `repeated` keyword.

[2020-10-01 08:48] flolu commented on #24
I think this is really weird considering, that there is a test exactly for this: https://github.com/thesayyn/protoc-gen-ts/blob/master/test/integration/messagefields.spec.ts

Do you have any ideas what might be the problem here?

[2020-10-01 12:12] thesayyn commented on #24
Looks like it fails while generating the typescript files. It could be easily traced IMHO. I'll take look at it in a few hours after work.

[2020-10-11 13:43] filipe-costa opened #25 "Compiler fails to build typescript proto definitions"
I am trying to compile the TS definitions according to the documentation, but I have encountered some issues when running the following command:

[code]

The script fails and exists with the following message:
[code]

As you can see on the following screenshot:

![image](https://user-images.githubusercontent.com/25135035/95680210-bfdd0180-0bcf-11eb-96a6-1764387839c6.png)

My dependencies are the f

[2020-10-11 15:38] filipe-costa commented on #25
My apologies, there was a conflict of dependencies between ```protoc-gen-ts and grpc-tools```, most probably related to the path where the dependency was at.

The solution was to remove ```protoc-gen-ts``` all together.

I am now just using:
[code]

I will close this issue now.

[2020-10-11 15:38] #25 closed

[2020-10-12 12:33] thesayyn commented on #25
HI. For your information, this plugin generates the typescript code rather than the definitions alone. If you are using this plugin, you don't need any other plugins to make grpc work with typescript. I should have made it clear in the readme.

[2020-12-14 04:22] JoowonYun commented on #24
I had the same problem. It seems you need to check the build package deploy in npm. When I built and generated locally, I could use it without any problem.

[2020-12-17 22:29] davendu commented on #24
Could reproduce under same condition. Maybe need to check NPM released package.

[2020-12-18 11:18] thesayyn commented on #24
I had no time to work on this. Any help is appreciated.

I'll try my best to fix this though.

[2020-12-31 20:28] arvinsingla opened #26 "Message with repeated custom type generating incorrect key name in AsObject/toObject()"
I'm pretty new to Protobuf but have come across something odd in a current project. Given this proto file:

[code]

When the typescript is generated the `ListTechnicianResponse` looks like this.

[code]

The key `technicians` is now suffixed with `List` which doesn't match the protobuf and as such doesn't result in the correct output when returned. Again I'm new to protobuf so if this is expected

[2021-01-02 22:25] thesayyn commented on #26
Hey there, that's okay I would like to assist you anyway.

So my first impression on your issue is that I think you understood this plugin wrong. Because this plugin does not put a suffix to the end of the property names. So there's a high possibility that you are mixing this plugin with another plugin which only generates typescript declarations. So I would recommend you to check the bottom of th

[2021-01-03 03:01] arvinsingla commented on #26
Thank you for the response. You are correct that I didn't understand the plugin correctly. Upon further digging into our build process I realize this is an issue much higher up. https://github.com/protocolbuffers/protobuf/issues/4518

[2021-01-03 03:01] #26 closed

[2021-01-16 00:44] NfNitLoop commented on #20
Just adding some extra detail to this ticket for why strict mode is important.

Currently if you have a proto like:

[code]

then the `Example` type will get generated with:

[code]

This advertises that Foo is unconditionally available, but in fact sometimes it can be `undefined`.

I've been confused a couple times when my TypeScript code ran into `undefined` values that shouldn't have been possi

[2021-01-16 16:45] thesayyn commented on #20
You are definitely right about this. `getters` should be annoted as possibly return undefined cause they are optional. May be we could leverage a feature of typescript which could be some kind of "optional chaining feature" designed for "return" statements. Or maybe we could just use `Type | undefined | null` as type annotation.

[2021-01-24 06:16] CMCDragonkai opened #27 "TypeError: Cannot read property 'hasOwnProperty' of null"
Attempting to use this plugin with `grpc-tools` from `grpc-node` package:

[code]

Results in:

[code]

[2021-01-24 06:17] CMCDragonkai commented on #27
Using latest typescript 4.1.3. Is this compatible with the latest typescript?

[2021-01-25 11:37] thesayyn commented on #27
Hey @CMCDragonkai. in lock file we have `^3.8.3` and i think it ought to work with 4.x.x.

But we have something else to fix here. as far as i can see that you are trying to use this with other plugins. I guess you understood the plugin wrong. You don't need any other `JS` related plugins if you are using this plugin.

so instead of you way you should use it like this;

`protoc
  --proto_path=prot

[2021-01-25 12:22] CMCDragonkai commented on #27
Wait are you saying protoc-gen-grpc is not needed?

That tool is provided by the grpc-node package.

[2021-01-26 18:50] thesayyn commented on #27
Exactly. This  plugin will also generate service classes if your proto file contains any rpcs.

[2021-01-28 03:43] CMCDragonkai commented on #27
Hi @thesayyn can you update the `typescript` to be `4.x.x` or allow the major version to vary?

[2021-01-28 04:20] CMCDragonkai commented on #27
How does?

[code]

Know about the plugin at all?

Do we need to use `$(which protoc-gen-ts)`?

[2021-01-28 04:24] CMCDragonkai commented on #27
So I got super confused. https://github.com/thesayyn/protoc-gen-ts/blob/master/src/package.json <- this is the actual package.json.

But we are using `protoc` from `grpc-tools`. I'm not sure if your `protoc` mentioned above is from upstream `protobuf` or something else.

Furthermore it's not really clear how `protoc` is meant to know about `protoc-gen-ts`.

[2021-01-28 04:43] robert-cronin commented on #27
I am now confused as well, using the command you suggested results in a generation of `.d.ts` files not `.ts` files:

[code]

[2021-01-28 16:40] thesayyn commented on #27
I got a relocation thing going on so i won't be able to work on this for a month or so. it would be great if you could send a PR for it.

[2021-01-28 16:51] thesayyn commented on #27
First: So when you install this plugin globally through `npm i -g protoc-gen-ts` it installs the plugin to a global location which in turn will be available as a command. Normally after a global installation you can test if the plugin installed by running `protoc-gen-ts` command in your terminal. Though the plugin is not ought to work standalone. It has to be invoked by the `protoc` compiler.

Ans

[2021-01-28 16:56] thesayyn commented on #27
I suspect that you have already installed `improbable-eng/ts-protoc-gen` globally. If you did, you need to remove it first because when you are using this plugin, you don't need anything else.

Can you share the output of `npm ls -g --depth=0` with me so that i can understand your problem better?

[2021-02-06 13:59] snsyzf opened #31 "TypeError: Cannot read property 'hasOwnProperty' of null"
D:\IdeaProjects\ml\ml-shared>npm install -g protoc-gen-ts
C:\Users\yzf\AppData\Roaming\npm\protoc-gen-ts -> C:\Users\yzf\AppData\Roaming\npm\node_modules\protoc-gen-ts\bin\protoc-gen-ts
npm WARN protoc-gen-ts@0.3.4 requires a peer of typescript@^4.0.2 but none is installed. You must install peer dependencies yourself.
npm WARN protoc-gen-ts@0.3.4 requires a peer of google-protobuf@^3.13.0 but none

[2021-02-06 14:00] snsyzf commented on #31
![image](https://user-images.githubusercontent.com/35677762/107120116-aa9a8a00-68c6-11eb-8611-9ec50899c3ad.png)

[2021-02-18 22:33] NfNitLoop opened #32 "Enums not working"
The docs say that enums are supported, but they're not being generated in my use.  I've created a minimal example here.

Steps to reproduce
============

package.json:
[code]

sample.proto:
[code]

Run:

[code]

Resulting output (does not contain an `enum Foo`):

[code]

[2021-02-18 22:35] NfNitLoop commented on #31
This seems to be something that's broken when running against typescript versions >= 4.0.  In https://github.com/thesayyn/protoc-gen-ts/issues/32 I get similar errors if I upgrade to TSv4.

This will eventually be a breaking change that forces me to move off of protoc-gen-ts.

[2021-02-18 22:38] thesayyn commented on #31
I'm sorry that I can't look into this right now  because I don't have a computer to work on this. I  have been out of work for 2 months. So it would be great if someone could send a PR for this.

[2021-02-21 13:37] thesayyn commented on #32
i can reproduce this.  Fixed by https://github.com/thesayyn/protoc-gen-ts/commit/c765e3c2d5144b5855e421254e6fa137ae311f12

[2021-03-14 08:47] CMCDragonkai commented on #27
I still get the same error:

[code]

Note that the `protoc` is coming from `grpc-tools` https://github.com/grpc/grpc-node/tree/master/packages/grpc-tools

Are you assuming normal upstream `protoc`?

[2021-03-14 08:49] CMCDragonkai commented on #27
Even if I use upstream `protoc`, the same error occurs.

[2021-03-14 08:50] CMCDragonkai commented on #27
I don't have any other ts generator...

[2021-03-17 14:23] dreamershl commented on #31
I believe it is caused by this repeated field. It call with "null" parameter
![image](https://user-images.githubusercontent.com/1271739/111482552-f74b6d80-876e-11eb-9e7c-cf1b89cd6b53.png)

But here it doesn't check null (if you add elements === null, and build protobuf again, the exception won't happen again)

![image](https://user-images.githubusercontent.com/1271739/111482810-35489180-876f-11eb-

[2021-03-17 19:44] thesayyn commented on #31
This is a great finding. I would appreciate if you can a PR to fix this. I would be happy to assist you on it and get it merged and released.

[2021-03-19 04:53] sky-lake opened #33 "Support for `optional` in proto3"
Calling protoc with `--experimental_allow_proto3_optional` returns

For more information on implementation, see: https://github.com/protocolbuffers/protobuf/blob/master/docs/implementing_proto3_presence.md

[2021-03-20 04:17] dreamershl commented on #31
have create the pull request for this fix.

[2021-03-20 16:42] thesayyn commented on #31
Thanks to @dreamershl.  A fix landed for this on master which will be released quickly.

[2021-03-20 16:42] #31 closed

[2021-03-20 16:44] thesayyn commented on #24
Thanks to @dreamershl.  A fix (#34) landed for this on master which will be released quickly.

[2021-03-20 16:44] #24 closed

[2021-03-20 16:44] thesayyn commented on #27
I will quickly take a look at this.

Sorry i was out of work for a while.

[2021-03-20 16:46] thesayyn commented on #33
This seems easy to implement. However we don't support oneof fields yet.

I'll land this feature as soon as we implement oneof fields. Any help is appreciated.

[2021-03-25 20:35] thesayyn commented on #27
We have landed a fix for this on master which will be available soon.

[2021-04-07 14:17] paul-pop commented on #27
@thesayyn any chance you can trigger a 0.3.5 release with this fix?

[2021-04-07 14:24] thesayyn commented on #27
Hey @paul-pop. I'll try to release it today.

[2021-04-07 20:07] thesayyn commented on #32
0.3.5 has landed and must have fixed this problem already.

[2021-04-07 20:07] thesayyn commented on #27
Hey everyone, 0.3.5 has landed and must have fixed this problem already.

I was busy moving to another country.

[2021-04-07 20:10] #27 closed

[2021-04-07 20:11] #32 closed

[2021-04-07 20:12] thesayyn commented on #22
Hey, Thank you for reporting this. I have added this to my backlog.

[2021-04-09 20:27] jackpunt commented on #13
I'll vote for following the interface from google-protobuf.

My current problem is that the deserialize method is static to the specific Message class.

Previously, I could pass my web-socket handler a (msg_class: typeof jspb.Message)
and find the deserializer from that 'class' object. msg_class.deserialize(data)
But jspb.Message does not have a ".serialize"
(and the websocket parser does not want

[2021-04-09 20:50] thesayyn commented on #13
One option would be that we implement these methods and make the forward the call to serialize and deserialize to have a backward-compatible solution.

[2021-04-09 21:07] jackpunt commented on #13
I'm all in favor of backward and standard compatibilty.

As for (bytes instanceof Uint8Array), i'll advocate for reversing the test:
        let reader = (bytes instanceof pb_1.BinaryReader) ? bytes : new pb_1.BinaryReader(bytes), message = new AMessage();

That way there are fewer prototypes to confuse javascript...

[2021-04-10 17:32] thesayyn commented on #13
that makes sense. this way we wouldn’t have to add an additional OR expression for everything.
I'll send a pr for this

[2021-04-13 01:43] jackpunt commented on #13
FWIW, I am making progress using these "scripts" on the 0.3.5 generated *Proto.ts files::
[code]

[2021-04-13 08:38] thesayyn commented on #13
Hey jack. In alpha branch i have implemented a new feature that puts 'serializeBinary' and 'deserializeBinary' methods which in turn delegates themselves to "serialize" and "deserialize" respectively. Would that work for you?

[2021-04-14 18:35] jackpunt commented on #13
Yes, that would obviate the patch-serial script.
(I made the patch to update the API in anticipation of your new release)

[2021-04-16 13:02] thesayyn commented on #13
@jackpunt a PR has landed for this. Will you be able to review and give insights on if there is room for improvements?

[2021-04-16 13:09] thesayyn commented on #33
Update:

I have landed a PR #38 which will be followed by another PR to support oneof fields.

[2021-04-19 12:15] thesayyn opened #39 "RFC: Problems which we already solved by taking modern approaches and what should we do next"
This issue is here to help people understand why I have created a new plugin that diversified the protocol buffer typescript community even more.

`Q:` Why would you create a plugin from scratch when you can fix problems on the upstream compiler?

`A:` Well it is not that simple because there is a lot of bureaucracy to make any of the design changes that I have done with this plugin. Even if we ma

[2021-04-19 21:24] jackpunt commented on #13
I'll give it a try; what is the appropriate incantation that I should use to get the updated version?

[2021-04-20 09:32] thesayyn commented on #13
I'll release it today.

[2021-04-20 22:56] #13 closed

[2021-04-20 22:56] #20 closed

[2021-04-20 22:56] #23 closed

[2021-04-20 22:56] #33 closed

[2021-04-20 22:58] thesayyn commented on #13
this has been released with version: v0.3.6-rc1 let me know if it works for you.

[2021-04-21 11:52] thesayyn commented on #33
Hey. We have landed a new release candidate for this https://www.npmjs.com/package/protoc-gen-ts/v/0.3.6-rc2

Let me know if it works for you 🤓

Also, please consider supporting me in any way you could.

[2021-04-21 11:55] thesayyn commented on #14
Update on this issue

this is on top of my backlog.

[2021-04-21 12:32] ndunks opened #41 "Repeated field problem in protobuf v2"
Based on the protobuf specification [here](https://developers.google.com/protocol-buffers/docs/proto3#simple)

Proto file that not have `syntax = "proto3";` on the first line will be treated as 'proto2' syntax.  And so if it has first line `syntax = "proto2";` its clean that its proto2 syntax.

- [Proto2 repeated numeric](https://developers.google.com/protocol-buffers/docs/proto#specifying_field_r

[2021-04-21 12:41] thesayyn commented on #41
Thank you for the report. I will add this to my backlog and get it fixed sooon.

[2021-04-21 23:58] jackpunt commented on #13
neither -rc1, nor -rc2 working for me...

[code]

[2021-04-22 18:18] thesayyn commented on #13
Ah, that is something I can reproduce. Turns out to be a chmod issue of the binary file.

[2021-04-23 12:04] thesayyn commented on #13
@jackpunt Could you try with 0.3.6-rc3?

[2021-04-24 18:51] jackpunt commented on #13
It works! (installs, protoc runs, code looks good, tests pass)
Have not recoded to use 'deserializeBinary' but good to have it there for compatibility.

[2021-04-25 03:14] jackpunt commented on #13
Hmm, I discover that a message with a 'repeated' field now comes as *required* rather than *optional*
(generated code missing the '?' in constructor signature)

[2021-04-25 08:29] thesayyn commented on #13
@jackpunt that is not supposed to do that right? if not can you create another issue so that I can fix it as well?

[2021-04-25 15:10] jackpunt opened #43 "0.3.6-rc3 regression: missing '?' in message constructor (for repeated and map fields)"
Fields marked with 'repeated' or 'map' are missing the optional indicator; '?' in the Message constructor signature.

[2021-04-25 15:14] jackpunt commented on #13
LGTM, thx!

[2021-04-25 17:32] jackpunt commented on #39
Suggestion for "what to do next":
Take a look at the code generated for 'oneof' messages.
The [spec ](https://developers.google.com/protocol-buffers/docs/reference/proto3-spec#proto_file)says that setting one value will un-set the other values. (so only one value will ever be serialized)
Also, spec suggests creating a '...Case' enum field, with value indicating which 'oneof' values is currently se

[2021-04-26 05:15] jackpunt opened #44 "deserialize uses dubious test for reader vs bytes"
There are cases where (bytes instanceof Uint8Array) fails.
More robust to reverse the test, and look for definite BinaryReader.

from:
[code]
to:
[code]

My auto-patching tricked me into thinking this was fixed back in -rc3

[2021-04-26 08:23] thesayyn commented on #43
I am not sure whether they were correct in the past. right now the constructor takes field presence into consideration when generating the constructor. back then the idea was to make everything optional so that they can be filled later with setters but with the introduction of one-of-fields and checks we have to take field absence into consideration.

[2021-04-26 08:26] thesayyn commented on #44
Yeah... this is something that I forgot to get done when fixing other things.  I'll quickly send a patch to get this done.

[2021-04-26 08:53] thesayyn commented on #44
A fix for this has already landed on master via https://github.com/thesayyn/protoc-gen-ts/commit/31a79cacf31bd48b7610c19942ce7e1c38bec84b

[2021-04-26 16:55] jackpunt commented on #43
Pretty sure that all fields are/should-be optional.
I posted comment about "oneof" on your "things to do next" thread.
"oneof" tracks internal field presence in its own ways... so should not be interact with the constructor form.
and: 'oneof' means: at MOST one of the fields is present, not a guarantee "one of the fields" is present.
It is totally legitimate to have a one-of field be empty.

[2021-04-26 17:47] jackpunt commented on #43
I'm not sure what issue there is with 'map'...
But, fwiw, I noticed this in the spec, in case it is relevant: [Map Field Equivalent](https://developers.google.com/protocol-buffers/docs/proto3#backwards_compatibility)

[2021-04-27 14:38] thesayyn commented on #43
this is definitely the expected behavior when the data is given via constructor. I must have broken it while refactoring the codebase. so by this logic and since one-of fields are mutually exclusive the generated code should look like below regardless of syntax or field presence.

[code]

[2021-04-27 14:40] thesayyn commented on #43
the reason we generate union types for one-of-fields is to warn the user through the compile-time errors hence the user knows which properties can be mutually present.

[2021-04-27 14:42] thesayyn commented on #43
I have other plans of using `Map` for `map<k, v>` which will be in memory until the `serialize` is called.

[2021-04-27 17:29] jackpunt commented on #43
Hmm, that relates to the gist of my "Things to do" comment.
I don't see a union type being created.
Especially, I don't see a: ````get value(): ValueUnionType { return ... the value variant currently set ...}````

I have synthesized the type and accesor for my simple TypedMsg* by patching:

[TypedMsg.ts.patch.txt](https://github.com/thesayyn/protoc-gen-ts/files/6386447/TypedMsg.patch.txt)

[code]

[2021-04-27 23:37] sky-lake opened #45 "`TypeError: Invalid data` in 0.3.6-rc1+"
I was on my way to test #33, but first wanted to verify that my current proto would compile.  Unfortunately, I wasn't able to compile my proto.  It works in 0.3.5 but not 0.3.6-rc1 (tested up through rc4).

Interestingly, it seems to throw this error even if I slim the file down, even all the way down to a totally blank file (though it does give a warning in that case about no syntax specified).

[2021-04-30 20:36] thesayyn commented on #45
that seems odd. looks like the plugin is working at all. probably a connectivity issue between protoc and the plugin.

can you also, tell me more about the protoc version you are using and whether it is preinstalled or installed via npm package?

[2021-05-01 19:19] thesayyn commented on #43
is the generated message supposed to have a field called `value` alongside the one-of-fields?

[2021-05-02 06:44] jackpunt commented on #43
I think so... the accessor 'value' returns the one-of {boolValue, intValue or strValue} that is actually set.

I've seen two implementation styles:
a) maintain 3 individual fields, and an indicator for which is 'set', and 'value' returns the field that is set.
    and unset a field when the one-of the others is set (complex but builds on the existing field structure)
b) have 1 field for 'value' an

[2021-05-03 23:55] sky-lake commented on #45
Sure,

I appear to be using the snap version of protoc.  (I think probably went this route because the official distro version is even more old).

[code]

I tried downloading the most recent protoc from github, but still got the same error:

[code]

[2021-05-20 09:35] melonmouse opened #48 "Finish oneof support"
Thanks so much for working on this project! Hope this bug will help :). I looked at your code for a bit to see if I could write you a pull request, but wasn't sure where to start.

To complete oneof support, there should be helper functions to determine what case is set.
https://developers.google.com/protocol-buffers/docs/reference/javascript-generated#oneof

So taking the example from above:
[cod

[2021-05-20 09:51] melonmouse commented on #48
P.S. if it is any help, if you'd write a "pseudo code" commit adding this functionality, I could complete that. Not sure if it would save you time, but wanted to offer :)

[2021-05-20 18:40] thesayyn commented on #48
Hey, thank you for opening this. We had a brief conversation on another issue.

It makes more sense to continue the conversation here.

I can assist you on the way if you could open up a draft pull request.

[2021-05-22 08:06] antiqe commented on #33
@thesayyn Thanks a lot strongly appreciate your work :)

[2021-05-22 10:10] thesayyn commented on #33
I am so glad to hear that @antiqe

[2021-05-25 00:29] samlevin opened #49 "How do I bundle outputs for use in other typescript projects?"
Imagine a directory structure like:
[code]

assuming I generate working ts using this plugin, how can I export the output (while preserving directory strcuture) for the purpose of importing and using client stubs in other repositories?

[2021-05-31 09:24] mantou132 opened #50 "disable namespace"
If the package name is a namespace name that ts does not support, then the generated ts cannot be used:

proto:

[code]

ts:
[code]

[2021-05-31 09:43] thesayyn commented on #50
Hey @mantou132

Can you provide more details?

I am not sure that I follow.

[2021-05-31 10:16] mantou132 commented on #50
If the package name is a namespace name that Typescript does not support, then the generated ts cannot be used.

[2021-05-31 10:19] thesayyn commented on #50
It would help me a lot to understand if you could give me a concrete example of the problem that you are facing.
because the example given above ought to work without any problems.

[2021-05-31 10:21] thesayyn commented on #50
See the test case where I make sure that nested namespaces are working across versions

https://github.com/thesayyn/protoc-gen-ts/blob/e99f990f52f5e434da27ad219de56e7daae4657b/test/packagedirective.spec.ts#L16

[2021-05-31 11:06] mantou132 commented on #50
sorry, the method I used is incorrect, I close this issue

[2021-05-31 11:06] #50 closed

[2021-06-01 10:04] rahulv4667 opened #51 "How to run on windows?"
Hello, I am having trouble trying to compile on windows10.

`.\protoc.exe -I=proto_src --ts_out=dist message.proto`  throws `'protoc-gen-ts' is not recognized as an internal or external command, operable program or batch file.
--ts_out: protoc-gen-ts: Plugin failed with status code 1.`  error.

And when I use `.\protoc.exe --plugin=protoc-gen-ts=<absolute_path_to_project>/node_modules/protoc-gen-t

[2021-06-01 10:38] thesayyn commented on #51
Hey @rahulv4667

Thank you for this great finding. Unfortunately, I do not have a windows machine that I can work with to fix this but I can definitely put you in the right spot if you want to send a PR for this.

Since I do the development on Unix-like machines I never had this issue but I would expect it to work since npm creates a wrapper on windows.

Maybe the problem that you are having is be

[2021-06-01 11:33] rahulv4667 commented on #51
Sure. I was able to get it running by calling the index file. But, I had to hard code the file location. To set the right location dynamically, I think it needs to check the local and global installation folders. Will try to write the script by tomorrow and make a pull request.

But I didn't understand step 1(add .cmd as a suffix to path) in your message. Let me see if I understood what I need to

[2021-06-01 14:21] thesayyn commented on #51
I mean there must be a binary that is specifically generated for "windows" with possibly ".cmd" (".ps" in some cases) extension.

so in order to use the correct one when invoking  protoc  with "--plugin" option present, you need to invoke tell it to use the one with correct extension.

so in your case it was `<absolute_path_to_project>/node_modules/protoc-gen-ts/bin/protoc-gen-ts` where should hav

[2021-06-01 14:46] thesayyn commented on #51
Alternatively, installing the plugin globally rather than locally might help.

As far as I am concerned, you ran into this problem because `protoc-gen-ts` is neither recognized because its location is not in the PATH variable.

[2021-06-01 14:51] thesayyn commented on #49
I think you could accomplish this by giving protoc `protos` directory as the input and output directory at the same time.

then protoc would make generates files reside their respective protos.

[2021-06-01 15:13] thesayyn commented on #39
@jackpunt I just time to start working on this one.  Creating a new enum for each of these cases and one-of-declarations seemed like overkill to me.

 I feel like we need something more practical

My suggestion is to generate two more additional getters for an individual one-of-declaration

given;

[code]
would look like below

[code]

Or

[code]

[2021-06-02 03:49] rahulv4667 commented on #51
Oh. I understood that.

No, installing globally didn't solve the problem. The problem wasn't with path. It's, as you said, not having a batch script. I have created the batch script. You can look at it [here](https://github.com/rahulv4667/protoc-gen-ts/commit/b6aa52dc5677b798ae58662066e195de7122f741).

I will install bazel and test if it is building properly after making necessary changes to build

[2021-06-02 05:20] rahulv4667 commented on #51
`> protoc-gen-ts@0.3.6-rc4 test D:\open_source\protoc-gen-ts\protoc-gen-ts

INFO: Repository npm instantiated at:
  D:/open_source/protoc-gen-ts/protoc-gen-ts/WORKSPACE:21:13: in <toplevel>
  C:/users/4667r/_bazel_4667rahul/vgrfovvs/external/build_bazel_rules_nodejs/index.bzl:78:18: in yarn_install
Repository rule yarn_install defined at:
  C:/users/4667r/_bazel_4667rahul/vgrfovvs/external/build_b

[2021-06-02 05:25] rahulv4667 commented on #51
I am facing this error when running `npm test`. Unable to figure out the cause.

[code]

[2021-06-02 07:47] thesayyn commented on #48
Hey @melonmouse

When you have some time, could you join the discussion at #39 about one-of-fields?

[2021-06-02 19:38] jackpunt commented on #39
Ok, sure.
The main requirement is to have: `get name(): union_of_types`
Doesn't really matter whether the discriminator returns `field_name: string` or `field_id: number` or some `enum`...
As long as it can be run through a switch/case, it should work

[2021-06-03 08:50] thesayyn commented on #45
That seems odd. I'll take a look at it as soon as possible.
Right now I am focused on landing support for oneof fields then I'll get to this.

Feel free to send a PR for this.

[2021-06-03 16:21] thesayyn commented on #49
Feel free to reopen if the solution that I described above does not solve your problem.

[2021-06-03 16:21] #49 closed

[2021-06-03 16:24] thesayyn commented on #39
@jackpunt checkout #48

[2021-06-04 07:37] #48 closed

[2021-06-16 12:02] #14 closed

[2021-06-16 12:09] thesayyn commented on #43
Hey @jackpunt.

I have landed a fix for this along with the support for one-of-fields and ECMAScript maps.

please try version  `0.3.6-rc5` it should be working now.

feel free to reopen. if there is a problem

[2021-06-16 12:09] #43 closed

[2021-06-16 12:12] #39 closed

[2021-06-16 12:15] thesayyn commented on #45
Hey @sky-lake

"0.3.6-rc5" has been released. Can you give it a try and let me know if the issue persists?

[2021-06-16 13:12] thesayyn commented on #2
closed by #57

[2021-06-16 13:12] #2 closed

[2021-06-16 13:15] thesayyn commented on #22
Hey @flolu

Could please try this again with the latest version of the plugin. it should be working

Feel free to reopen if the problem persists

[2021-06-16 16:00] #41 closed

[2021-06-22 13:40] hardikkat24 opened #60 "Parse from JSON"
I have a JSON file and I want my protobuf message to parse JSON. How to implement this? Thanks!

[2021-06-22 13:53] thesayyn commented on #60
Hey @hardikkat24

Could you please send your .proto file here?

Normally there is an easy way to do it if the field names in your json properties match the proto fields.
Just pass the parsed json object to the constructor and it will pick up the properties automatically.
Keep in mind that you have to manually create non-scalar values yourself.

Given the proto

[code]

you should be able to parse

[2021-06-22 14:24] hardikkat24 commented on #60
Thanks but this doesn't work for my proto file.
[code]

[2021-06-22 15:04] thesayyn commented on #60
This proto has too many non scalar fields which you have to handle yourself.

Some fields will work but others will prevent them from working because you have to explicitly pass the submessages  to their constructor.

[2021-06-22 15:11] hardikkat24 commented on #60
@thesayyn Thanks a lot! Have you solved an issue like this ? I was trying to do the same but was unable to do so.

[2021-06-22 19:43] thesayyn commented on #60
Actually, it is not an issue. You only need to pass the sub-messages into their constructors. it might be a lot of work but that is how google-protobuf works.

[2021-06-23 10:01] alienzhangyw opened #61 "import error in generated ts files with namespace"
When use the same package name in multiple .proto files, like
[code]
In the generated ts file, there're import lines like
[code]
Then we got errors like this:
![image](https://user-images.githubusercontent.com/58874541/123076754-00259c80-d44c-11eb-9688-1503cfb9bff0.png)
When using types and namespaces from dependency files, it should be `dependency_x.Config.XXX`.

PS: All serializeBinary() functio

[2021-06-23 10:45] hardikkat24 commented on #60
@thesayyn Is it possible to parse text format instead of json easily?

[2021-06-25 19:43] thesayyn commented on #60
I think so. If you could convert it to binary format first then you could easily pass it to deserialize function. it will create everything recursively from the binary data.

i will try to add an example for this if could find a way to do this.

[2021-06-25 19:44] thesayyn commented on #61
Hey @alienzhangyw

Thank you for the issue report.

I will take a detailed look at it tomorrow.

[2021-06-27 15:06] tomerzaidler commented on #61
Hey @thesayyn

[2021-06-28 08:27] thesayyn commented on #61
I couldn't reproduce the issue. it would help me a lot if you could provide minimal proto files for reproduction.

[2021-06-28 08:30] thesayyn commented on #61
I can not provide any estimation but I will do my best to fix it as soon as I find an appropriate time.

you are welcome to send a PR if you could find the problem

[2021-06-29 04:16] alienzhangyw commented on #61
Here's the minimal [repo](https://github.com/alienzhangyw/proto-gen-ts-demo).

[2021-06-29 08:03] thesayyn commented on #61
thank you. I can confirm the issue arising from having the same package name for importing and imported files.

[2021-06-29 14:13] #61 closed

[2021-06-29 14:28] thesayyn commented on #61
protoc-gen-ts@0.3.7 has been released. this should be fixed now.

Feel free to reopen if the problem persists.

[2021-06-30 02:14] alienzhangyw commented on #61
0 errors now, thanks!

[2021-06-30 09:58] maZahaca commented on #22
I've just installed the latest version `0.3.8` and it seems that the issue is still there:

[code]

@thesayyn any thoughts what could be the root of this issue?

[2021-06-30 10:00] maZahaca commented on #22
@thesayyn

Btw, when no promises version the call looks like the following, and it works well.

[code]

as you can see there is no `metadata` parameter in the middle of params compare to Promise version.

[2021-06-30 11:02] thesayyn opened #68 "Solve issues that won’t be solved by the js version soon"
This is a general issue for the issues we could solve here;

https://github.com/protocolbuffers/protobuf/issues/5119

https://github.com/protocolbuffers/protobuf/issues/4540

[2021-06-30 11:17] thesayyn opened #69 "Interoperate with protoc-gen-validate"
Idea: Think about how could we interoperate with https://github.com/envoyproxy/protoc-gen-validate

[2021-06-30 11:18] thesayyn opened #70 "Interoperate with protoc-gen-validate"
### Discussed in https://github.com/thesayyn/protoc-gen-ts/discussions/65

<div type='discussions-op-text'>

<sup>Originally posted by **thesayyn** June 30, 2021</sup>
Idea: Think about how could we interoperate with https://github.com/envoyproxy/protoc-gen-validate</div>

[2021-06-30 11:18] thesayyn commented on #70
See https://github.com/envoyproxy/protoc-gen-validate/issues/71

[2021-06-30 11:21] thesayyn commented on #61
Great!

[2021-06-30 13:10] thesayyn commented on #22
Hey @maZahaca

Could you please provide some additional information such as the version of the "google-protobuf" and "@grpc/grpc-js" or "grpc" that you are using?

[2021-06-30 13:31] maZahaca commented on #22
sure @thesayyn, here is my `package.json`:

[code]

[2021-06-30 14:59] thesayyn commented on #22
It is so strange that i can not reproduce this problem.

[2021-07-01 07:45] kluiverjh commented on #22
Got the same error. When I generate the proto code in the non experimental way; and apply manual the promise as done in the experimental mode I can reproduce the problem. When the meta data is passed in as null, the error "Cannot read property 'interceptors' of undefined" is returned.

This returns the 'Cannot read property 'interceptors' of undefined'
WithMeta_promise(request, meta) {
    return

[2021-07-01 08:01] thesayyn commented on #22
I have suspected this. Great finding!

Perhaps we add some overloads to this function and have a conditional call based on the availability of variables.

I would welcome a PR if you are up to it.

[2021-07-01 09:18] maZahaca commented on #22
So, if `metadata` is not passed are we gonna create a new empty one?

[2021-07-01 09:24] thesayyn commented on #22
Nope. if the metadata is not present we not gonna pass it at all just to be safe.

If it does not hurt to pass it, we can just construct a new one whenever the metadata is empty but I am not sure about the internal behavior of metadata argument and what would happen if we were to pass an empty one.

so it would look like this

[code]

and the implementation would look like;

[code]

[2021-07-01 12:21] maZahaca opened #71 "Support of string-based enums"
I know this kind of a limitation of `proto` protocol, but would be good to have the ability to have string-based enums in TS.

[code]

it intended to be in the TS:
[code]

[2021-07-01 12:48] maZahaca commented on #22
Anytime soon we can have this implemented? I took a look into the code and realized that I'm not too familiar with it.

[2021-07-01 12:49] thesayyn commented on #22
@maZahaca I will try to implement it today.

[2021-07-01 20:54] thesayyn commented on #71
This seems like a good idea but this would require the introduction of an option just for this plugin.  and that is something I would try to avoid.

besides, I don't know how would this translate to wire format as we have to keep things interoperable with other languages.

[2021-07-01 21:00] thesayyn commented on #71
also, using oneof fileds could be an option.

[code]

[2021-07-02 01:13] NfNitLoop commented on #20
Ah, I saw that this issue was closed, so I thought the `as Foo` (vs. `as Foo|undefined`) issue had been fixed.  But I guess the main bug here was different.

Should I open a separate issue for the `Foo` vs. `Foo|undefined` type problem?

(Unrelated: I'm using the generated code in Deno (with a very small manual update) and it seems to be working well so far!)

[2021-07-02 07:44] thesayyn commented on #20
@NfNitLoop  yes that would be great. Also, a clear description of the problem would make it easier for me to solve.

[2021-07-06 11:07] thesayyn commented on #22
#72 already fixes this problem but it introduces some breaking.

[2021-07-07 09:00] #22 closed

[2021-07-07 09:01] thesayyn commented on #45
For now, I am closing this issue for housecleaning. Feel free to reopen if the problem persists.

[2021-07-07 09:01] #45 closed

[2021-07-07 10:36] thesayyn commented on #22
https://github.com/thesayyn/protoc-gen-ts/releases/tag/0.3.9 has been released.

This is fixed in the new release.

[2021-07-08 12:58] maZahaca commented on #71
Well here is an option if you initialize a server from proto file, which automatically transforms enums to strings correctly:

[code]

Basically when you pass an option `enums: String` while loading it transforms it to string.
Can we have something like this option for `protoc-gen-ts` ?

[2021-07-08 13:10] thesayyn commented on #71
As far as I understand, you want to be able to get the name of an enum based on a value. At least that's what I got out of the enums option from proto-loader.

See: https://github.com/protobufjs/protobuf.js/blob/95b56817ef6fb9bdcb14d956c159da49d0889bff/tests/api_converters.js#L97
If you want to do the same, typescript has you covered.

https://www.typescriptlang.org/docs/handbook/enums.html#revers

[2021-07-15 17:06] maZahaca commented on #71
Yes, this is it. The question was is it possible to have this conversion take place automatically? depends on some config as done for protoLoader options

[2021-07-15 21:08] thesayyn commented on #71
I am not entirely sure that we can take the same approach as we do not compile protos on the runtime. they are compiled ahead of time thus we need a way to describe this behavior within the proto file. perhaps an option but we are against following any options that the upstream compiler does not provide.

I am open to any other suggestions apart from introducing a new option and force users to inc

[2021-07-16 06:59] maZahaca opened #75 "Support of google.rpc.status"
Google's Status proto allows customizing errors thrown by the server and received by a client.
Here is one of the implementations I found out there, adopting this behavior into GRPC server/client:
https://github.com/quangtm210395/grpc-node-status-proto

Would it be possible to have the ability to customize errors as this?

[2021-07-19 06:37] maZahaca commented on #75
As an example, I want to be able to call a custom function that will transform `standard` error to a custom one.

[code]

so, here would be useful to call customizable errorWrapper function e.g.: `reject(errorWrapper(error));`

[2021-07-22 05:54] alienzhangyw opened #76 ""deserializeBinary" do not exist in "typeof Map""
Got ts2339 error with Map:
![image](https://user-images.githubusercontent.com/58874541/126594734-6487d0ab-413b-4097-ab5c-41a4effe556d.png)

my proto:
[code]
Maybe it's a problem of [@types/google-protobuf](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/google-protobuf/index.d.ts)?

[2021-07-22 15:47] thesayyn commented on #76
Yes, it is definitely a problem with the typings package.  it has to be fixed upstream.

[2021-07-29 13:36] renkei commented on #76
I've the same issue, without an upstream fix your package is unusable, unfortunately. There are also other `Map` related bugs in the typings package, see [#54816](https://github.com/DefinitelyTyped/DefinitelyTyped/discussions/54816).

In the meanwhile, it could make sense to modify your typescript generator so that it casts the `Map` type to `any` first. The example above would then look like this

[2021-07-29 13:53] renkei commented on #76
By the way, I've start a discussion about the missing typings for deserializeBinary: [#54824](https://github.com/DefinitelyTyped/DefinitelyTyped/discussions/54824)

[2021-07-30 09:21] thesayyn commented on #76
it makes sense that we introduce a quick fix to enable those who want to use `@types/google-protobuf` along with google-protobuf. we don’t care about typings as long as they exist in google-protobuf.

a PR is welcome

Context: we didn’t care about matching the typings of google-protobuf as it was hard to use.

[2021-07-30 13:13] renkei commented on #76
Instead of creating a PR for this project that is just a workaround for a bug in @types/google-protobuf, I've decided to create a PR for @types/google-protobuf to fix the root cause. Then this issue here should be fixed, it already works fine wiht my fork of @types/google-protobuf. Let's see, if my PR will be accepted.

[2021-07-31 12:02] renkei commented on #76
Unfortunately, it is a little bit more complicated. I had to fix the PR, so that the CI pipeline succeeds. In the PR for `@types/google-protobuf` the class Map<K, V> has this static `deserializeBinary` method now:

[code]

But now, the generated code by your package fails to compile again. The reason is, that `Map.deserializeBinary` expects a protobuf Map as first argument, but in your generated c

[2021-08-01 07:42] thesayyn commented on #76
You are right. We have to pass the ES6 map as any to make google protobuf happy. Even though `Map` is enough for `pb.Map` type package still wanta the same type. So we have to cast map as any then pass it to google-protobuf to make it happy.

A PR with following changes makes sense to me

- Cast map to any whenever we pass it to google-protobuf.

[2021-08-01 14:48] #76 closed

[2021-08-02 08:23] SilverSheep opened #78 "Camel case support"
Now plugin outputs class getters and setters with the same name as in proto files.

It will be nice to have option to generate camelCase fields.

For instance for proto:

[code]
have generated class:
[code]

[2021-08-04 17:22] a-churchill opened #79 "Add option to not use namespaces"
The generated code uses namespaces to organize the generated members; however, `create-react-app`'s built-in Babel config does not support namespaces. The error message:

[code]

Enabling namespaces is not possible with `create-react-app`. Is it possible to add an option to the generator to not use namespaces?

[2021-08-06 11:43] thesayyn commented on #79
It would be possible but it’d require a lot of refactoring.

[2021-08-07 11:49] renkei opened #80 "Fields can be undefined but return type of getters can't"
What is the idea behind the current implementation to generate code from proto files where the return type of the field getters is always cast to the data type of the field?

The cast in the generated typescript code is realized with an `as` expression, which is dangerous because the Typescript compiler is happy (maybe) but it could happen that the resulting data type has nothing to do with the re

[2021-08-07 11:59] renkei commented on #80
It's even worse. Let's say, I know that the Typescript Compiler can't help me here because of the wrong typings in the generated code but it's OK, because I will do the check manually in the code. Then ESLint tells me that I'm doing wrong:

[code]

[2021-08-08 15:51] thesayyn commented on #80
I am not sure if that is the correct approach here as we tried that one before.  The best would be optional getters which is not supported by typescript yet.

See #20, #33

also microsoft/TypeScript#14417

[2021-08-11 09:01] renkei commented on #76
My PR for @types/google-protobuf was accepted. It's part of 3.15.4. Now, `deserializeBinary` is known and we don't need to cast Map to `any` first. Instead, we should cast the first argument to `any` now to pass an ES2015 Map where a protobuf Map is expected. Should I create a new PR for this?

[2021-08-11 09:06] thesayyn commented on #76
That would be so sweet!

Many thanks!!

[2021-08-13 05:57] petermetz opened #82 "fix: import public causes AssertionError"
This works fine:

[code]

This one crashes protoc:

[code]

Logs:

[code]

[2021-08-25 07:34] thesayyn commented on #82
Hey. Thank you for reporting this.

I will try to take a look this week.

[2021-08-31 07:36] thesayyn commented on #80
I have no problem whatsoever with the approach above. there are some typescript limitations that prevents us from doing this.

The problem with getter setter types is that they can’t have different types. hence, since `T | undefined` is different than `T` type-checker will yell at you.

[2021-08-31 07:39] thesayyn commented on #80
https://www.typescriptlang.org/play?#code/MYGwhgzhAECyCmUwHN7QN4ChrQvALtPovgBQBuYIArvAFy74BOAlgHbLQA+01bAJvABm7ePwCUGHAF9s0VIWIQy4hstYcMs6UA

Also see: https://github.com/microsoft/TypeScript/issues/2521

[2021-08-31 07:48] thesayyn commented on #80
it is going to take a while this gets stabilized. then we can revisit the options.

[2021-08-31 14:40] thesayyn commented on #68
https://github.com/protocolbuffers/protobuf/issues/6341

[2021-08-31 14:43] thesayyn commented on #82
Also seen as: https://github.com/protocolbuffers/protobuf/issues/5769 in js version. This is something that we definitely have to solve here.

[2021-08-31 14:53] thesayyn commented on #60
We decided to add a new method that accepts json data and creates the messages recursively. I didn’t realize that this was on the spec as well. going to work on this soon.

[2021-09-02 20:56] renkei commented on #80
Ok, that's true, the type of getters and setters must be equal. If I look at my check list above then only point 7 (`Well-Known Types`) is affected by this limitation. So, the setter must also accept `undefined`. That's not really an issue as long as the getter returns the correct typings so that an user of your package can safely work with returned values.

The main reason for this ticket is poin

[2021-09-08 10:05] thesayyn commented on #80
You are right. This definitely should be fixed. Would be happy to see a PR if you would like to take it. Otherwise, I will try to take this, this week.

[2021-09-08 10:06] thesayyn commented on #80
Though this is going to be a breaking change. so I have to find a way to land this without annoying everyone.

[2021-09-08 10:08] thesayyn commented on #79
Also, upon my work on public import, I came to realize that handling this will be so hard. Not impossible but would require a lot of effort.

[2021-09-08 22:14] thesayyn commented on #68
fixed by #85 and closes #60

[2021-09-08 22:22] #60 closed

[2021-09-13 07:26] thesayyn commented on #60
This has been released via 0.5.0.

[2021-09-15 19:45] xnerhu opened #86 "It fails on Windows"
Hello!

Unfortunately I have some issues on Windows 11 and I can't get it to work.

[code]

Here is my BUILD:

[code]

[2021-09-15 21:43] thesayyn commented on #86
Hey. Thank you for reporting the issue.

I while back I have worked on this. See #59 but never get it working on windows. There seems to be an issue with the way that bazel invokes protoc.

See https://github.com/thesayyn/protoc-gen-ts/runs/3615164551?check_suite_focus=true

[2021-09-16 18:01] KiaFarhang opened #88 "Generated TS is invalid if proto has a message type `Map` and other messages that use the built in `map` type"
Hi there,

Thanks for the library! I'd love to use it but I'm running into an issue that would be a stopper for our team. We have a proto file like this:

[code]

When this library generates a TS file from it, the generated code fails TS compilation. The code the library spits out doesn't distinguish between its usage of the user-defined `Map` and the `Map` generic built into TypeScript.

I have [

[2021-09-22 22:19] thesayyn commented on #88
Hey.
Thank you for the appreciation.

This is an issue that you would get with using the reserved keywords or globals. Like if you name your message as `Buffer` then it is going to conflict with the global `Buffer` type. So I would suggest using generic names like map or any other names that might be reserved in javascript.

Also, I don't see any reason why one would name their message Map because

[2021-09-22 22:22] thesayyn commented on #88
Even if we do `globalThis.Map` to access to map class, you are most likely to have name conflicts in other places and will be forced to import the class with an `import as` expression.

[2021-09-23 07:58] thesayyn commented on #71
We won’t support this because neither it is in the spec nor could be useful for most users.

[2021-09-23 07:58] #71 closed

[2021-09-23 08:00] thesayyn commented on #68
We will think about `js_module` approach once we fix other issues.

[2021-09-23 08:00] #68 closed

[2021-09-23 08:05] thesayyn commented on #75
The promise version of the RPC methods is a 1-1 match of the original RPCs (ones with callbacks). so I believe this should be handled in the user code, not in the generated code.

Additionally, it would create a third-party dependency on grpc-node-status if we implement this which is we can’t enforce on users.

[2021-09-23 08:06] thesayyn commented on #75
We will rethink this when it might be useful for most users.

[2021-09-23 08:06] #75 closed

[2021-09-23 08:08] thesayyn commented on #78
Hey.

Seems like this could be useful for the users.

I could point you in the right direction if you’d like to contribute.

[2021-09-24 20:11] ImperiumTakp commented on #79
i also encountered this issue,

[2021-09-26 18:09] SilverSheep commented on #78
@thesayyn Why not? It was some time ago since I made the change in my project. I must recall what changes I commited and I'll let you know

[2021-09-30 16:26] anant-singh opened #90 "fromObject is not in v0.5.0"
First I do want to thank you for creating this compiler. It is definitely very helpful and good features. I was especially excited on seeing the `fromObject` support but it seems to be that it's not in the current release. I can see the version that I installed is 0.5.0 but even in it's source I cannot find the changes related to fromObject.

[2021-09-30 17:29] thesayyn commented on #90
Ah. I have cut the release with the wrong commit. I will release 0.6.0 today.

[2021-09-30 17:32] thesayyn commented on #90
0.6.0 is now on npm.

[2021-09-30 20:16] #90 closed

[2021-10-08 20:17] koblas opened #93 "Getting to 1.0"
This is putting in a handful of notes.  I would like to help push this package to a formal 1.0 release so that it can get better adoption.  I'm selfish in that way which is I want to make sure I've got stable programs that I'm building against that have more maintainers...

There are a handful of things that I perceive that might help:

* <s>Moving the codebase to TypeScript</s> -- just makes it l

[2021-10-09 13:00] thesayyn commented on #93
This is the exact list of this that I want to fix before the end of this year. Unfortunately, I don’t have that much free time as I used to have.

- Issues: Windows -> this is something i am gonna pick up again really soon.
- Issues: CamelCase -> i will need help but i can’t accept a PR that sets this as the default behavior. it has to be controller via `ts_opt` flag. Also, snake_case is not that

[2021-10-09 17:42] koblas commented on #93
I've got time I can pull out of a few project to help.

I'm going to start with moving to formal TypeScript since I've got a strong bias into making sure the system is helping me with types and I do find it annoying to have to keep comments in sync.

There are some things that I think are breaking changes, it's probably good to target those at 1.0 since it's a major release and can justify breakin

[2021-10-22 22:44] jackpunt opened #95 "deserialize of Array<number> gives Array<Array<number>>"
Trying to catch up with the summer releases, using 0.3.9 at the moment.

My protobufs with Array<number> (from: repeated int32 zval=3) do not serialize/deserialize correctly.
(I have not yet check to see if the fail is on serialize or deserialize)

In particular: the deserialized object has the field/slot filled with Array[1][number]
Basically, an extra wrapping of Array<>

Has this been seen befo

[2021-10-23 00:58] jackpunt commented on #95
Attempting to see if it is just a problem with .toObject()
So I re-serialized/deserialized and obtained: "Assertion Failed"
[so that seems to implicate a problem independent of .toObject()]

[code]
<img width="1497" alt="Screen Shot 2021-10-22 at 4 24 04 PM" src="https://user-images.githubusercontent.com/455836/138532892-c5bb8854-c057-4f8e-a905-f9699186ad9a.png">

[2021-10-24 19:21] jackpunt opened #96 "getter for oneof field not returning value of field; returns name of field"
Sahin, sorry to be late getting to this, I've been off for the summer.
(I commented on the closed #53 (or #39 ?) but am unsure how to re-open at this point)

It seems that the oneof getter (or computeOneofCase ?) needs a bit more work; consider:
[code]
I believe it should be the case that:
[code]
That is: the type of TypedValue.value should be: number | string | boolean
rather than the slot name:

[2021-10-30 19:14] jackpunt commented on #96
Ah... after further review, I think I see what's happened.
Somehow, the getter and the 'which_<name>' got conflated.
(see https://github.com/thesayyn/protoc-gen-ts/issues/39#issuecomment-852207171)
The current 'getter' is coded to to be the 'which_<name>'

Per https://github.com/thesayyn/protoc-gen-ts/issues/96#issue-1034494055, the getter should return the  value of the supplied oneof field.
The

[2021-11-06 15:54] enyo opened #97 "Web support"
In the readme it says that there is partial web support. What does this mean exactly? Can I use this library in a browser client? Thanks!

[2021-11-13 10:42] cortopy commented on #97
For one, I've just tried to use `@improbable-eng/grpc-web` instead of `@grpc/grpc-js` in the output ts files. The exports don't match and so it requires a lot of modifications by hand

[2021-11-13 10:50] cortopy commented on #93
Which implementation would be the target? I personally use the improbable one because bundle size is much smaller than google's and supports binary for streams. So if I may, I'd like to vote for that one

[2021-11-16 15:46] enyo commented on #97
@cortopy I'm using [protobuf-ts](https://github.com/timostamm/protobuf-ts) now and it works perfectly. So if that is an option for you I recommend looking into it.

[2021-11-17 10:57] cortopy commented on #97
@enyo thanks so much!! it looks pretty good

[2021-11-19 15:36] enyo commented on #97
@cortopy glad I could help! No disrespect to the `protoc-gen-ts` maintainers (who also did a great job), but I was so happy when I found `protobuf-ts`, a clean typescript first compiler with all features I need already implemented (for example interceptors). Have been using it for about 2 weeks now and all worked perfectly.

[2021-11-23 00:57] aolvictim opened #99 "Can't find version 0.7.0 on npm registry"
NPM registry only has 0.6.0 as the latest: https://www.npmjs.com/package/protoc-gen-ts
Am I looking at the right place?

[2021-12-01 15:50] thesayyn commented on #86
Hey @xnerhu. I just got this fixed. Will release it shortly.

[2021-12-01 16:20] thesayyn commented on #97
Hey.

Let me clarify what I mean by "partial".  Right now all the generated message classes (anything that is `message` or `enum`) can be used within the browser.

However, in order to support `grpc-web` the generated service client classes `{ServiceName}Client` are meant to be used in a node environment. What is missing right now is the grpc-web counterpart of `{ServiceName}Client` classes.

Soon

[2021-12-01 16:23] thesayyn commented on #99
I have just released 0.7.0 on npm https://www.npmjs.com/package/protoc-gen-ts/v/0.7.0

Thank you for the heads up!

[2021-12-01 16:23] #99 closed

[2021-12-01 16:27] thesayyn commented on #51
Hey @rahulv4667

We have landed a fix for this on 0.8.0. Let me know if it works for you!

[2021-12-01 16:34] thesayyn commented on #93
If both of them (google one, improbable one) have feature and public API parity, then we would like to support them both. . Personally, I don't like imposing choices on people.

[2021-12-01 16:35] thesayyn commented on #93
Now that the windows issue is gone (and we test against windows as well), we can safely move on and add new features to the plugin. @koblas

[2021-12-01 16:36] thesayyn commented on #93
#98 is here but it still needs a bit of work.

[2021-12-01 17:32] sandmule opened #100 "Wrong type is added to abstract callback method."
In the process of debugging a rather annoying problem; I believe I've found a bug.

In the generated code, requestCallback is being added as the type for the callback. requestCallback is an alias for UnaryCallback that comes from the client file.
`abstract foo(call: grpc_1.ServerUnaryCall<FooReq, WorkshopDto>, callback: grpc_1.requestCallback<FooDto>): void;`

Should it not be set to `sendUnaryDat

[2021-12-02 10:00] sandmule commented on #100
Closed by #101

[2021-12-02 10:00] #100 closed

[2021-12-03 11:54] thesayyn commented on #95
Oh, this is quite debugging work you have done over there. The issue seems to be arising from incorrectly generated packed fields. The solution is as simple as checking if the field is packed.

[2021-12-03 11:55] thesayyn commented on #95
It has to be fixed here: https://github.com/thesayyn/protoc-gen-ts/blob/28a9276e3c2594dbed86bc27feb256953744af1a/src/field.js#L232

[2021-12-03 14:26] #95 closed

[2021-12-03 14:30] thesayyn commented on #96
Hmm, all of this makes sense. Would like to send a PR for this?

[2021-12-03 14:31] thesayyn commented on #70
Closing as there is no need for now.

[2021-12-03 14:31] #70 closed

[2021-12-03 14:49] #88 closed

[2021-12-03 18:44] jackpunt commented on #96
I'm not familiar with your code-base; but if you point me to a likely file, I'll do the code/test/PR ...

[2021-12-06 13:52] thesayyn opened #105 "Use proto_lang_toolchain introduce typescript support to Bazel"
Right now we built in our custom starlark rule to use protoc-gen-ts under bazel. However, this is a maintenance burden on us and we want to rely on existing rules and only introduce the minimal changes that are required to make protoc-gen-ts work with rules_proto and typescript.

See: https://docs.bazel.build/versions/main/be/protocol-buffer.html#proto_lang_toolchain

[2021-12-06 19:48] thesayyn commented on #97
#102 is there to support grpc-web directly.

[2021-12-10 19:48] relief-melone commented on #79
I would also like this. Another option which i would like even better (as protobufs just rely on namespaces alot even though its not the most favoured concept in TS) is the output of a single file because otherwise namespaces tend to conflict alot with each other. Would also contribute. Having trouble at the moment to get the debugger running :D. Also one addition. Is there a reason why this proje

[2021-12-14 16:15] thesayyn commented on #105
At the moment, it doesn’t seem to be possible to use this;
See: https://github.com/bazelbuild/rules_proto/issues/40

[2021-12-20 09:07] efossvold commented on #79
This would be much as appreciated as we really need this for our project as well.

[2021-12-20 09:19] thesayyn commented on #79
When I started writing the plugin it was small and I didn’t want to deal with all that transpiling stuff.

[2021-12-20 09:22] thesayyn commented on #79
I am willing to accept a decent PR that handles name conflicts and other possible hurdles along the way. there is #98 but it is not complete yet.

I can’t work on this myself atm as I am fed up with the tasks of my full-time job.

[2022-01-08 18:31] thesayyn commented on #96
Hey @jackpunt. sorry, i missed this. Actually, you don’t need to worry about bazel. just invoke `yarn test` or `npm run test` it will run the tests for you.

[2022-01-12 14:21] relief-melone opened #107 "Default values are not set."
Alot of implementations omit default values when serializing protobufs. So e.g. enums set to 0 will not be sent over the wire. When the message is deserialized this missing value should be set to the default value of 0. However default values will not be set by protoc-gen-ts. This causes problems with interoperability between e.g. C# and JavaScript/TypeScript as in our case. I investigated the gen

[2022-01-13 21:59] thesayyn commented on #107
Hmm. this looks like has something to do with generated getters. for proto3 we are supposed to call `getFieldWithDefault` instead of `getField`.  protoc supposed to set default_value for proto3 but seems like it doesn’t.

here: https://github.com/thesayyn/protoc-gen-ts/blob/b47d74afc5b35cf13bd66a57b2f77c56debee212/src/descriptor.js#L889

would like to fix it and send a PR with tests included?

[2022-01-17 10:59] chris-kruining opened #108 "Question: How do I generate client code"
Hi,

I've just managed to get your plugin up and running as a replacement for `--js-out`. however I still generate client code with the grpc-web plugin, but that plugin has hardcoded to suffix all files with `_pb`, so that also means for the imports.

can I:
a) replace grpc-web with something else that generates my client stub?
b) convince this plugin to add the `_pb` suffix to imports (would requ

[2022-01-17 11:02] chris-kruining commented on #108
nvm, I am straight up an idiot. I did not realize the plugin creates the client in the same file. old habits I suppose. Sorry to bother for nothing...

[2022-01-17 11:03] thesayyn commented on #108
Hey,

Recently I started working on #102 which will workaround grpc-web generation. currently, the clients are generated for node.

[2022-01-17 11:06] chris-kruining commented on #108
awesome!! need any help? recently client-to-server streaming became a reality with fetch upload streaming. Do you reckon you could implement that as well? Or could I assist by doing that myself? I also have a "feature request" of sorts that implements async generators for streaming requests in either direction :D

Again, not afraid to get my hand dirty, so just tell me if I can assist :D

[2022-01-17 11:20] thesayyn commented on #108
I like your enthusiasm. In that PR the generation part is complete but am trying to get an e2e test running. I tend to break things without noticing.

I believe that in order to support  CLIENT_STREAMING (possibly BIDI_STREAMING), you need to do some upstream work in grpc-web, tonic-web, and envoy-proxy which would be a lot of work I imagine.  I would love to see this landed though.

I don't know

[2022-01-17 11:25] chris-kruining commented on #108
hmm, but with a working implementation of client and bidi streaming, is grpc-web no long a thing of the past, wouldn't those 2 features make browsers compatible to the point it is just another grpc client? AFAIK that is why grpc-web exists, because the browser did not support upload streaming and is therefor incompatible with grpc.

So I would think that there is not much upstream issue as an envo

[2022-01-17 11:31] thesayyn commented on #108
it exists because some browsers do not support HTTP/2 specific features such as frames.

envoy proxy could speak to the origin server any way it wants but it needs to understand what grpc-web says.

[2022-01-17 11:34] thesayyn commented on #108
See: https://github.com/envoyproxy/envoy/blob/9dd8ae3c69a9917d97a886ed03e1c010dcd9b098/source/extensions/filters/http/grpc_web/grpc_web_filter.cc

[2022-01-21 09:26] chris-kruining commented on #79
I managed to implement this in #112

[2022-01-24 12:40] chris-kruining commented on #79
has become #117

[2022-01-24 13:38] erikljung opened #118 "Question: Can you get comments in .proto generated to its corresponding class/property?"
Is it possible to get comments in the .proto file generated to its corresponding TypeScript class/property. This would greatly help when i.e. implementing a client.

[2022-01-24 13:42] thesayyn commented on #118
that would be possible yes. via `SourceCodeInfo` but we don’t support it yet.

[2022-01-24 13:44] chris-kruining commented on #118
my proposal #115 should allow this. So please feel free to join that discussion

[2022-01-24 13:45] erikljung opened #119 "Option for making all properties required except optional fields"
This is probably wrong, but just to learn something. I would expect that a message like:
`
message SomeThing {
  string Foo = 1;
  optional Bar = 1;
}
`
should give a class with a constructor like:
`
{
  foo: string;
  bar?: string;
}
`
This is apparently not the case. Could someone elaborate on why this is, and would it be possible to make this an ts_opt?

[2022-01-24 13:52] thesayyn commented on #119
that should be the case.  see: https://github.com/thesayyn/protoc-gen-ts/blob/main/test/_/optional  and generated code https://github.com/thesayyn/protoc-gen-ts/tree/main/test/optional

[2022-01-24 13:56] thesayyn commented on #119
see #120 for more cases. this PR has to behavior changes present.

[2022-01-24 15:03] erikljung commented on #119
I'm not sure I follow. What does not work for me is that fields that are **not** `optional` still get rendered as `?`, it seems to me like everything gets rendered as `optional`. I use _compiler version: 3.19.3_ it seems to be _3.17.0_ in the code you sent.

[2022-01-24 15:05] erikljung commented on #119
[code]
gives:
[code]

[2022-01-24 15:09] thesayyn commented on #119
sorry, there was a typo in my statement.

by default, all fields are optional in proto3. if you switch to proto2, you will the that the optional keyword reflects your proto files.

[2022-01-24 15:21] erikljung commented on #119
Yes, I guess you're right. It's probably just me that wants the wrong thing :).. Thanks for your help.

[2022-01-24 15:32] thesayyn commented on #119
glad to help.

[2022-01-25 09:42] thesayyn commented on #119
Feel free to reopen if you have further questions.

[2022-01-25 09:42] #119 closed

[2022-01-25 10:31] thesayyn commented on #80
with proto3 optionals fields also get a getter called `has_[name]`

[2022-01-26 18:38] muddle216 opened #122 "bigint support"
Can I get "bigint" member for TYPE_UINT64 instead of "number"? Thanks!

[2022-01-27 14:08] thesayyn commented on #122
you are welcome to send a PR if you could make it work google-protobuf which I don't think is possible without google-protobuf support first.

See: https://github.com/protocolbuffers/protobuf/issues/7244

[2022-01-28 23:39] chris-codaio opened #124 "Support strip_import_prefix on proto_library rules"
When using `strip_import_prefix` on a `proto_library` rule, then attempting to consume that proto output via `ts_proto_library`, I get back an error:

[code]

[2022-01-29 19:20] thesayyn commented on #122
I have made a small experiment to find out if we could make this work without changing `google-protobuf`. answer is yes!
`readUint64String` and `readInt64String` is your friend here.

[2022-01-29 19:21] thesayyn commented on #124
Ah, yes looks like we need special handling for `_virtual_imports` directory. do you mind sending a PR for this? with additional tests?

[2022-01-30 13:36] muddle216 commented on #122
Thank you for your help! I am trying to add an option "int64_to_string" which changing the return of "hasJsTypeString". But my work is not finished. And I have no experience to send a PR.
Will you please commit your code, and update release version?

[2022-01-30 14:13] thesayyn commented on #122
I just experimented with a generated code. I didn't change the generator to produce bigint output. i just confirmed that it would work with `readUint64String` and `readInt64String`

[2022-01-30 14:13] thesayyn commented on #122
Unfortunately, I don't have the time to implement this for you.

[2022-01-30 16:51] muddle216 commented on #122
OK, thank you all the same! I want to test my code, but I don't know how to call my code through "protoc --ts_out". Is there any WIKI or document that is about to debug protoc?

[2022-01-31 10:01] chris-kruining commented on #122
@muddle216 the plugin system works quite nice I must say, your code just gets called as any program would. On the STDIN is your Request, and on the STD out your Response, these 2 messages are just grpc, which means you compile grpc using grpc.

to go into some more detail, protoc with it's plugins is simple/dumb if you have a pattern of `--{something}_out` as a parameter on your protoc call, proto

[2022-02-07 15:12] relief-melone opened #127 "running after npm ci behaves incorrect while running after npm install is as expected"
node version: tested wich 12,14 and 17
prococ-gen-ts version: tested with 0.8.0 and 0.8.1

I currently stumbled over the following issue in one of my pipelines that utilizes npm ci instead of npm install. When running

[code]
output generated is typescript files as expected. However when running

[code]

only declarations are in the output folder. I generated a simple repo that reproduces the erro

[2022-02-07 16:23] thesayyn commented on #127
I am not sure I understand the issue here. it is not possible for the plugin to emit only `.d.ts`. there is no such capability. i believe that it has something to do with the way you utilize the tool. perhaps you run `tsc` after `protoc` and typescript deletes the `.ts` files and replaces them with `.d.ts` counterparts?

[2022-02-08 12:48] relief-melone commented on #127
I found this behaviour very odd as well and and cannot explain it. Will also tried to investigate. However I can rule out that the typscript compiler deletes the .ts files. you can also run

[code]

which will only run the typescript generation not the tsc. The result will also be .d.ts files instead of .ts. Could this maybe have something to do with the different imports in the bin script?

[2022-02-09 16:43] thesayyn commented on #127
As I stated before `protoc-gen-ts` is incapable of outputting `d.ts` files directly. I believe that you have a problem that is specific to your configuration.

Feel free to reopen if you still believe that `protoc-gen-ts` is faulty here.

[2022-02-09 16:43] #127 closed

[2022-02-13 18:42] moloch-- opened #131 "Property 'deserializeBinary' does not exist on type 'typeof Map'"
The generated TS code fails to build with `tsc` when using Protobuf3 Map types:

[code]

* TypeScript `^4.5.5`
* protoc-gen-ts `^0.8.1`

[2022-02-13 18:49] moloch-- commented on #131
Yeap, just caught it, sorry for the noise !

[2022-02-13 18:49] #131 closed

[2022-02-19 00:56] thesayyn commented on #107
I'd like to have presence getters in here if you are willing to send a separate PR for it.
See: https://github.com/thesayyn/protoc-gen-ts/issues/80#issuecomment-1021039435

[2022-02-19 11:39] thesayyn commented on #107
this is exactly what getFieldWithDefault does. If the field is present it gives you the value of it but if not it will return you whatever you passed to it as the third argument.

https://github.com/protocolbuffers/protobuf/blob/2f91da585e96a7efe43505f714f03c7716a94ecb/js/message.js#L873-L880

[2022-02-19 11:47] thesayyn commented on #107
they are basically guarding against serializing default values. it is a small optimization that I didn't bother implementing.

[2022-02-19 23:58] Yurzel commented on #107
@thesayyn is it possible to contact you on any other platform? I'm having issues with compilation. Otherwise AST should be done.

[2022-02-20 11:13] thesayyn commented on #107
grpc has no slack channel. I am on bazel slack channel. you can reach me there.
http://slack.bazel.build/

[2022-02-20 11:20] thesayyn commented on #107
in order to close this issue, protoc-gen-ts should be fixed to not serialize default values and should return defaults when field has no presence

[2022-02-20 11:26] thesayyn commented on #107
but as far as I am concerned, there shouldn't be any interoperability issues between protoc-gen-ts and other language implementations.

[2022-02-20 12:54] thesayyn commented on #107
[code]

[2022-02-21 15:38] TMQPH commented on #107
@thesayyn Will you add this to the next release?

[2022-02-21 15:39] atakurt034 commented on #107
@thesayyn Will you be adding this to the next release?

[2022-02-23 10:05] thesayyn commented on #96
I just had time to take a look at this. and I realized that protoc-gen-ts does the right thing here. builtin js does not generate a union getter that gives you the value. instead, it just gives you a discriminator getter and that's it.

[2022-03-01 01:28] jackpunt commented on #96
Ok. I see what you're saying;
It is mainly the **name** that is conflated.

The other languages distinguish between msg.getValue() and msg.getValueType:
[[java]](https://github.com/thesayyn/protoc-gen-ts/issues/96#issue-1034494055) msg.getValueCase()
[[javascript]](https://developers.google.com/protocol-buffers/docs/reference/javascript-generated#oneof) msg.getValueCase()
[[dart]](https://develope

[2022-03-08 11:38] thesayyn commented on #79
fixed by #132

[2022-03-08 11:38] #79 closed

[2022-03-08 11:39] thesayyn commented on #93
#132 has been merged.

[2022-03-23 15:33] relief-melone commented on #107
sorry that there has been so little activity on this one from me. I'd love to help out as I really like this project. Unfortunately I'm so packed with work that I don't find the time to get into to topic enough to contribute (my biggest issue is not beeing familiar with the build and test frameworks). I hope I'll find some more time soon.

Additionaly I just noticed that boolean values seem to hav

[2022-04-30 03:46] Leedehai opened #138 "Generated message static method deserializeBinary() needs to be marked `override`"
Hi,

I think in the generated class for message
[code]
needs to be
[code]

Otherwise TSC will complain
[code]
if `"noImplicitOverride": true` exists in tsconfig.json.

TypeScript: 4.6.3
protoc-gen-ts: 0.8.2

[2022-05-13 07:28] varungandhi-src opened #139 "TypeError when using protoc-gen-ts v0.8.2 with buf v1.4.0"
Thank you for creating and maintaining this project.

I noticed a bug when using v0.8.2 of this project along with buf v1.4.0. I've created a repository with configuration that should help you reproduce the issue: https://github.com/varungandhi-src/protoc-gen-ts-bug (commit: 628fda220). I've copied the project's README below for convenience.

It seems like a regression that crept in some time betw

[2022-05-13 13:09] thesayyn commented on #139
Hey. thanks for reporting this. Probably Buf does not set the version information for plugins to use. I'll make PR to fix for this but if you have time I'd appreciate it.
The relevant line is here;
https://github.com/thesayyn/protoc-gen-ts/blob/d665bfe69e1c8339cfe1c6f704bdd8b2e5ee22f6/src/index.ts#L119

[2022-05-13 17:01] gcurtis commented on #139
I was able to get things working by just leaving the version at 0 if `request.compiler_version` is undefined. I put up a PR for it if you think that approach sounds good.

[2022-05-13 17:02] thesayyn commented on #139
Yeap. That was my intention all along. Thanks!

[2022-05-13 17:10] #139 closed

[2022-05-13 21:57] varungandhi-src commented on #139
Awesome, thank you for the fix @gcurtis.

[2022-05-18 09:40] yl-yue opened #141 "Does it support generating ES6 specification JS files and using them in grPC-Web"
Does it support generating ES6 specification JS files and using them in grPC-Web

[2022-05-18 16:31] thesayyn commented on #141
the plugin itself is not capable of outputting JS files directly. Though you could transpile them via tsc. for gRPC-Web you'll need to change imports manually. See #102

[2022-05-20 20:52] thesayyn commented on #141
Feel free to reopen.

[2022-05-20 20:52] #141 closed

[2022-06-06 20:21] thesayyn commented on #138
fixed by #144

[2022-06-06 20:21] #138 closed

[2022-06-07 15:44] ciricc commented on #107
+1

[2022-06-20 22:34] jackpunt commented on #96
Breath some life into this...
A) it would be better if the [current] accessor for the 'field discriminator' was not using the field's 'name'.
    (so that one could use .name to access the actual field value)
    Other languages compose the discriminator function name with: 'Case' or 'which'

B) It is really important to change the implementation of the discriminator to not use "none" as a string

[2022-06-29 06:22] relief-melone opened #149 "Question: Is there a build option to add the unimplemented service definition with call and callback?"
So my key goal here is to set the grpc status on the grpc server. To do this you use the callback. However if I look at the TypeScript generated by protoc-gen-ts the abstract class looks similar to this

[code]

Is there a compiler option that I am missing? The overloaded GrcUnaryServiceInterfaces in the output include options with the callback. Is there a way to implement the service with the cal

[2022-06-29 13:07] thesayyn commented on #149
I believe what you need is

[code]

[2022-06-29 13:08] thesayyn commented on #149
server streams have no callback since it is chunked. you have to call `write` until you are done. that's when you call `end`.

[2022-06-29 13:12] thesayyn commented on #149
See: https://github.com/grpc/grpc-node/issues/1567 for status code.

[2022-06-29 13:26] relief-melone commented on #149
Thanks for the quick reply. You are right. Also just found out. It's still kind of weird that the client is receiving on call.on('status',...) while the server emits on the error event. If you emit on the status event you'll always end up with status code 0 on the client side. One more thing to add What you need actually is

[code]

Without the error handler on server side you'll get an unhandled

[2022-07-03 06:33] nbutko opened #151 "Transitive deps aren't generated in Bazel"
Using protoc-gen-ts 0.8.4, I have a Bazel build file like:

[code]

When I run `bazel build :hello-ts`, only `hello.ts` is generated. This imports `details.ts` but `details.ts` is not generated.  In this case, all of the `.ts` files in the transitive deps tree of `:hello` should be generated.

[2022-07-08 22:58] blake-regalia opened #152 "Hint how to use with grpc-web?"
I understand that there is ongoing refactoring to support grpc-web without manual intervention, and I've dived thru the various issues/discussions, but i'm not super familiar with the various components.

Are there any references that could be provided to help devs in my situation get started? Plugging `grpc-web` into `--ts_opt=grpc_package=xxx` option doesn't work and i'm sure there's more to it

[2022-07-09 16:33] thesayyn commented on #152
current workaround is;

1- use protoc-gen-ts to generate  `@grpc/grpc-js` compatible RPC code and put it behind an envoy proxy so that grpc-web can talk to it.
2- use protoc-gen-ts to generate `message`, `enums` etc.
3- use grpc-web generator to generate grpc-web compatible client code and replace imports. `xxxx_pb` to `xxxx`

there might be additional steps and code paths to update to make it wor

[2022-07-09 16:38] thesayyn commented on #151
this is currently broken. I believe it was working at some point but I broke it. We need to make the rule to be an aspect to do make this use case work.

I'd be happy to accept a PR if you are up for it.

[2022-07-09 16:39] thesayyn commented on #107
fixed at #146 and released in 0.8.5

[2022-07-09 16:39] #107 closed

[2022-07-09 16:40] thesayyn commented on #78
fixed at #142 and released in [0.8.4](https://github.com/thesayyn/protoc-gen-ts/releases/tag/0.8.4)

[2022-07-09 16:40] #78 closed

[2022-07-10 02:10] jackpunt opened #153 "toObject() introducing spurious entries"
Ok, it's not toObject() specifically, it's the underlying protobuf Message that asserts a default value for every field?

The change to using getFieldWithDefault() means that toObject() includes all the fields, whether there are defined values in the Message or not.
It was much cleaner before (~0.8.3) where the keys present in output toObject() corresponded to the items actually sent in the messag

[2022-07-10 11:03] thesayyn commented on #153
Yes with #146 we landed a fix to match the specification. It is a breaking change.

yes, every field has a corresponding `has_<field_name>` getter which you can use to query whether field was transmitted.

no, but it is fairly simple to introduce a new option to have both behaviors. I'd be happy to accept a PR implementing this.

I am afraid yes. which makes me wonder whether it is better to have

[2022-07-11 20:19] jackpunt commented on #153
Thanks for the rapid/comprehensive reply 👍
I'll take a look at `has_<field_name>` (it's mostly for diagnostics, to confirm what msg/fields was created/sent)

[2022-07-11 22:56] jackpunt commented on #153
I'm not finding the `has_<field_name>`, probably looking in the wrong place...
Is it in the published 'api' for protobuf? Can you point me?

I suppose it is something like:
[code]
but that is ugly without having the actual field name.

Hmm, since the generated code still checks for `(val != null)`, I suppose I *could* hack the generated code
to replace the given defaults with 'undefined' where it

[2022-07-12 12:18] Santalov commented on #153
I am also facing this and some additional problems with tsc, creating a new issue right now. I'd like to contribute to this project.

[2022-07-12 16:04] jackpunt commented on #153
Thanks; I expect that is where I missed them; I have the minimal proto3, with implicit `optional`

FWIW, I agree with Santalov that the current scheme is correct and Ok, esp considering interop between independent protobuf endpoints. Armed with has_<fieldName> I can make my log files pretty/compact.

[2022-07-12 18:04] Santalov opened #154 "Suppor compilation and usage with strict typescript compiler options."
Motivation: `strict:true` is enabled by default in Angular and React projects and considered to be a good choice.

Problem: it is hard to use the generated code with `strict:true`, although it compiles fine. The main reasons are:

1. Types of getters and setters don't allow `undefined` and `null` in fields containing nested messages. Trying to assign `undefined` to such fields results in compilati

[2022-07-12 18:09] Santalov commented on #154
I'd like to contribute. My plan is to make bazel build use tsconfig.json file for tests, so we can use the `extends` option, then fix the issues listed above and make most of the tests use the strictest possible tsconfig (except the `noImplicitOverride` option).

[2022-07-12 18:15] Santalov commented on #153
Sorry, I have misled you. I had a different problem with `#one_of_decls`, which is not related to the #private fields.

[2022-07-12 20:56] jackpunt commented on #153
As long as you're here, in other thread you say: `"noImplicitOverride": true,` is supported.
Can you say how to get the needed `override` into the generated .ts ?
(that is: `static override deserializeBinary(bytes: Uint8Array):`)

[2022-07-12 21:55] jackpunt commented on #153
Thanks again!
[I cannot imagine why that is not the default]

[2022-07-13 21:15] jackpunt commented on #153
Comment: using 'optional' to generate `has_<field>` "works"; by decorating the field as a `one-of`.

A lot of extra clutter in the code... but perhaps I'll just define the has_fieldName getter in my wrapper class, along with the get msgObject() which uses them to make a more representative object than toObject();

Sadly, repeated fields cannot be declared a optional, so all the [] fields still nee

[2022-07-15 00:24] tomasweigenast opened #156 "Add support for google.protobuf.Any's pack and unpack methods and correct JSON serialization"
`.pack` and `.unpack` methods should be implemented and add compatibility with the `toObject` method, to allow JSON serialization.

Another change to be made to the `toObject` method is how it serializes Timestamp and Duration. Timestamp should be serialized to a ISO 8601 string, and Duration to "12m54s", as an example.

[2022-07-15 04:40] jackpunt commented on #153
@thesayyn : when there are *other* 'type' problems, tsc includes a complaint about a `#one_of_decls` mismatch.

Happily, when the other type declarations are fixed, tsc says "OH... Ok, looks like you are a subclass, no problem"
so it is very confusing during a refactor, if one can just ignore *that* error and isolate the others, then all is well.

[2022-07-15 12:17] thesayyn commented on #153
`override` keyword was added to ts recently. That's why we can't make it default and this is the main reason why we have a feature gate for that. If we flip it to true as then default then we'd be confusing people using older versions of typescript. I'd be happy to land documentation improvements (if anyone is up for making a PR) to people find this feature gate easily.

[2022-07-15 12:18] thesayyn commented on #153
I am not sure what action should be taken to make people's lives easier. I am down for suggestions and fixes.

[2022-07-15 12:19] thesayyn commented on #153
@tomasz-szypenbejl-td  Maybe he has some ideas for improvements here?

[2022-07-15 12:30] thesayyn commented on #156
Related to #148

[2022-07-15 20:04] jackpunt commented on #153
To be clear: I added my own `has_<repeatedField>` which check `length>0`
But is a lie... because sending NO array is different that sending a zero-length array.
And there is currently no way to distinguish them.
However, as tomasz says, the wire protocol is efficient so why would anyone really care...?

For me, undefined vs 0-length was helpful to find coding bugs,
cases where logically/semantical

[2022-07-15 20:51] td-krzysiek commented on #153
Hi @jackpunt,

Protobuf is designed in a way where this is no way to distinguish between empty array and no array, they're basically the same thing. If you "official" serialiser and you set empty array the binary output will be empty too. That's why it doesn't make sense to create has_* messages for repeated fields.

You can try this yourself with the example below.

test.proto
[code]
main.js
[cod

[2022-08-01 14:35] CorrM opened #165 "backwards compatibility `target < ES2017`"
as [Uint8Array](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Uint8Array/Uint8Array#syntax) empty constructor are `ES2017`

![image](https://user-images.githubusercontent.com/5868825/182173489-73c18ed0-2bd0-4a22-978e-40a1ede9ea4e.png)
it could be good to replace that with `new Uint8Array(0)` to support `target < ES2017`

i think its just a small update here [src]

[2022-08-16 20:23] Santalov opened #166 "Error when deserializing GoLang implicitly packed repeated field"
Suppose you have a proto like this

[code]

And protoc-gen-ts does not deserialize this message when it is serialized with GoLang. Deserialization fails with `Assertion error`.

protoc-gen-ts generates `deserialize` method like this

[code]

Looks like the field is trusted as a `packed = false` field, while there is no such field option.

[2022-08-21 01:59] tomasweigenast commented on #71
@thesayyn Here it says the ENUM specification: https://developers.google.com/protocol-buffers/docs/proto3#json
It must be a string, not an integer. If you use Protobuf with dart, it will serialize enums as strings, and this plugin will not understand that.

[2022-08-21 21:56] thesayyn commented on #165
Do you mind sending a PR?

[2022-08-21 21:57] thesayyn commented on #153
Can this be closed?

[2022-08-21 22:33] jackpunt commented on #153
Yes, I have inserted the "hadField" methods where necessary/useful

[2022-08-21 22:34] #153 closed

[2022-08-22 07:15] CorrM commented on #165
#168

[2022-08-26 23:23] #165 closed

[2022-08-30 11:29] Yurzel opened #170 "Typescript 4.8.2 support"
Typescript version 4.8.2 just got released. There is deprecated function used in the plugin.

Functions:
**createParameterDeclaration**

Error:
[code]

According the line 170461 in typescript package it seems like the function was removed completly.
[code]

[2022-09-04 16:28] #166 closed

[2022-09-04 22:30] jereklas opened #171 "Repeated enum results in type error."
Repeated enums result in typescript errors on the generated files. The following proto file:
[code]

Results in the following generated TS:
[code]

Which contains the following error:
[code]

The underlying implementation of it appears to be working fine? it's just typed incorrectly.

[2022-09-08 09:49] shaneing opened #172 "Serialized result is inconsistent with Go"
The message is as follows:

[code]

And run the following code:

[code]

The output is as follows:

[code]

The output is different from the serialized result `[32, 0]` in TypeScript.

[2022-09-09 22:00] ltetreault-va opened #173 "Confusion on generating a .ts file which imports a message from an adjacent file"
I'm confused about how to generate a .ts file when I have two Protobufs and one imports a message from the first one.

project layout
[code]

**The first file**
[code]

**The second file**

[code]

I am able to generate the first file fine with
[code]

but the second one complains about a bad import to the first one
[code]

[code]

I'm guessing I'm missing something in my command but I am not sure

[2022-09-21 14:57] stannedelchev commented on #170
@thesayyn This is happening on my end too with the latest TypeScript 4.8.3.
Installed `protoc-gen-ts` with `npm -g install protoc-gen-ts` and then ran `protoc -I=. hello.proto --ts_out=.`
Error call stack is same as post above. Other protobuf compilers (Go, JS) work fine on the same .proto file.

hello.proto:
[code]

Error call stack is the same as previous post:
[code]

[2022-09-21 15:01] thesayyn commented on #170
Looks like typescript made a breaking change. I'll have look and see what we could use instead without breaking on older version of typescript.

[2022-09-23 03:01] gwy15 opened #175 "Cannot deserialize maps with empty K/V encoded by other language implementations"
Hello. I'm using protoc-gen-ts to deserialize pbs encoded by other languages (specifically, by Rust prost) and it gives the following error:
[code]

# How to reproduce
for this protobuf,
[code]
and data
[code]

Rust generates the following binary hex: `0a090a046b6579611201610a060a046b657962`
which translates to
![image](https://user-images.githubusercontent.com/23229760/191884041-0620b898-0dbe-4c1

[2022-09-24 11:52] thesayyn commented on #172
This is due to defaults being serialized. one of PRs that @Santalov put together is going to fix this.

[2022-09-24 11:54] thesayyn commented on #173
`-I=protos` is the problem here. your imports should be relative to that. so instead of importing instead of `protos/first.proto` use `first.proto`.

[2022-09-24 12:04] thesayyn commented on #175
I don't know what should be the behavior when there is no `K` but i agree that we shouldn't be throwing when `V` is missing.

[2022-10-05 13:42] thesayyn opened #176 "migrate from rules_nodejs to rules_js"

[2022-10-13 11:05] btcSteven commented on #170
<img width="955" alt="image" src="https://user-images.githubusercontent.com/14268015/195580111-cb692f29-f137-4c77-be2d-9e27fc8e4a49.png">
I solve it  ; in your node_modules protoc-gen-ts -> package.json  typescript remove  ^  use old version

[2022-10-18 09:18] VanIseghemThomas commented on #170
@btcSteven this worked like a charm, thanks! This is clearly an update that should be done to the package.

[2022-10-18 14:42] joac commented on #176
Hi, I'm interested on this, and can provide some man power if required (but will need guidance, not super experienced with bazel)

[2022-10-24 08:54] martyphee commented on #171
I seem to be getting hit by this issue also.

Is there any workaround for it?

[code]

[2022-10-24 13:45] thesayyn commented on #171
Not yet.

[2022-10-24 13:53] Psy-Kai opened #177 "Make it possible to opt-out of grpc service generation"
Hello :)

I am writing a custom rpc mechanism and wanted to use the `protoc-gen-ts` to generate message definitions.
Since I don't want to use grpc I only want to generate messages no services.
Adding another parameter like `no_services` or `no_grpc` would be nice :)

[2022-10-25 07:53] martyphee commented on #171
If you can point me to the general area I can take a look. Not really a TS developer. Trying to do a POC going using our protobuf library in a nextjs project. The protobuf library is quite large. We have scala, .net and python libraries generated. I was trying to add TS.

[2022-10-25 15:16] martyphee commented on #171
In other news. I changed the code above and everything worked when calling our gRPC service.  :-)

[2022-10-26 02:14] jereklas commented on #171
My solution was to change the proto definition to not use an enum. When this gets fixed we’ll reconsider the enum solution

[2022-11-09 07:26] puzzle9 commented on #170
改成 `"typescript": "4.7.4"` 这个版本可以用

https://github.com/microsoft/TypeScript/issues/50259

[2022-11-09 12:03] long1eu commented on #170
@puzzle9 that also doesn't work. I've forked the repo [here](https://github.com/long1eu/protoc-gen-ts) and this is what I get
[code]

[2022-11-09 15:17] puzzle9 commented on #170
yea

because it is the source code that needs to be compiled before it can be used

simple you can try

[code]

`cd pgt`

change `package.json` `"typescript": "^4.3.4"` to `"typescript": "4.7.4"`

[code]

remove global `protoc-gen-ts` and add path this file

try

[2022-11-09 16:32] giofunchal opened #178 "Server streaming rpc is broken"
Apologies I don't have time to prepare a proper PR, but the following diff explains the problem.

[code]

[2022-11-11 18:29] #171 closed

[2022-11-12 01:03] tsawada commented on #171
@thesayyn Thank you so much for merging so quickly!
It'd be great if you could push a new release to NPM... I'm now aware of an easy way to use the latest HEAD.

Thanks in advance.

[2022-11-13 07:17] CorrM opened #180 "Solo enum in the proto file case a bad field type name"
When i have one enum(maybe more than one too) on the whole file that will case a bad filed type name.

After checking src i think the bug would be in that function [field.getType](https://github.com/thesayyn/protoc-gen-ts/blob/main/src/field.ts#L36)

**Sorry im so busy this days, i can't submit PR**

**Bug showcase**:
[code]

**Files to raise the bug**:
[code]

[code]

[2022-11-19 04:50] #97 closed

[2022-11-19 05:17] thesayyn commented on #178
Oh, this is bad! I'll fix it.

[2022-11-19 05:18] thesayyn commented on #152
#102 landed. I'll cut a new release shortly.

[2022-11-19 05:18] #152 closed

[2022-11-19 08:57] thesayyn commented on #171
https://www.npmjs.com/package/protoc-gen-ts/v/0.8.6-rc1

[2022-11-19 08:59] #105 closed

[2022-11-21 08:05] dmokel commented on #170
Hi, guys~has this problem been solved？

[2022-11-21 08:07] long1eu commented on #170
Not for me.

On Mon, 21 Nov 2022 at 10:05, David Mokel ***@***.***> wrote:

[2022-11-21 08:19] dmokel commented on #170
me too. so bad

[2022-11-21 08:42] dmokel commented on #170
Hi, guys~ I have resolved this problem.

you need change package.json "typescript": "^4.3.4" to "typescript": "4.3.4", and remove the node_modules, then npm install or yarn add again.

good luck for you～

[2022-11-21 08:45] long1eu commented on #170
Sorry for being dumb, but package.json of this package? Or the one of my package? Also what if I'm using this package as a global dependency?

[2022-11-21 08:53] dmokel commented on #170
the package.json of this package（protoc-gen-ts）

[2022-11-21 08:56] dmokel commented on #170
I am using this package as a global dependency too, I change the package (protoc-gen-ts) in my gobal path.

[2022-11-21 08:56] dmokel commented on #170
I am using this package as a global dependency too, I change the package (protoc-gen-ts) in my gobal path.

[2022-11-21 11:28] #170 closed